[2015-11-30 14:28] annevk commented on #788
Depends on the semantics you want I suppose. (Note that workers cannot be navigated so I'm not sure how the same problem applies to them.)

[2015-11-30 15:18] jdm commented on #791
@jungkees Look for the phrase "not a secure context" in the spec.

[2015-11-30 16:28] wanderview commented on #790
This sounds similar to the other feedback we've heard about needing a Worker or SharedWorker from a ServiceWorker.  Some work needs to be performed, but we don't want to delay handling fetch events, etc.

Alternatively we could do the idea about letting multiple service workers spin up so latency is less of a concern.

[2015-11-30 16:29] wanderview commented on #789
I'm happy to accept blink's behavior here.  Thanks!

[2015-11-30 16:33] domenic commented on #790
My opinion, blending in a bit of perspective writing non-blocking servers in Node.js:

- CPU-bound work should never be done in the service worker. It is only for reacting to fetch events (or other incoming events like push). Thus you really need Worker at least. requestIdleCallback will not cut it in the general case. (I am less sure about SharedWorker.)
- In theory the rest of your work should b

[2015-11-30 16:50] ehsan opened #792 "The prose for Clients.matchAll() distinguishes an omitted dictionary type argument"
According to the [WebIDL spec](http://heycam.github.io/webidl/#idl-operations), an optional argument with a dictionary type should always be considered to have a default value:

Section 4.3.2 step 1.2 of `Clients.matchAll()` currently specifies a different behavior for when the argument is omitted, which probably needs to be changed accordingly:

[2015-11-30 16:52] ehsan commented on #792
Implementor's feedback:  In Gecko, our binding machinery doesn't even expose whether the dictionary type argument was passed in or not.  I'm going to implement as if the step 1.2 of section 4.3.2 and everything under it was deleted.

[2015-11-30 16:53] wanderview commented on #783
I think the issue here is that Register is touch global state outside of a synchronization mechanism.  I don't think removing steps within the synchronization mechanism is the right fix.

I think we could fix this with a few tweaks, but it really feels like we should simplify the synchronization mechanisms here.

Can we do something like this?

1. Replace registration queue, installation queue, ac

[2015-11-30 17:28] wanderview commented on #785
Sounds good.

[2015-11-30 17:28] #785 closed

[2015-11-30 19:35] jeffposnick commented on #790
:+1: from me to the idea of offloading work to new `Worker`s that are constructed from within the `ServiceWorkerGlobalScope`. That sounds nicer than trying to forcibly adapt something like `requestIdleCallback()`.

I hadn't previous seen https://github.com/slightlyoff/ServiceWorker/issues/678, but that looks like details the feature request, so I'll close this issue.

[2015-11-30 19:35] #790 closed

[2015-11-30 21:51] wanderview commented on #789
@matto, does this match the current spec:

As far as I can tell the spec says that the check for matching URL should run synchronously when .register() is called.  We also defer it until the job runs, but I have a bug open to fix that.

[2015-12-01 01:18] #792 closed

[2015-12-01 01:19] jungkees commented on #792
Thanks!

[2015-12-01 02:42] jungkees commented on #791
`clients.get(id)`, `clients.matchAll()`, `clients.claim()` can still deal with the non-secure context clients, e.g., the iframes running on the same origin with the service worker but embedded in an http top frame. Those clients should be filtered out, and the above APIs are exactly where that happens.

Re client's id, fetch events for a non-secure client is also filtered out in Handle Fetch, but

[2015-12-01 02:51] jungkees commented on #788
Soft Update is triggered for all the non-subresource requests (whose destination is not "`serviceworker`" of course).

[2015-12-01 03:10] jungkees commented on #783
That option was considered but not proper to synchronize the Unregister with Register/Update where Unregister is effective only when all the clients are unloaded. That is, it's not practical for all the Register/Update requests coming from different tabs and Soft Updates in parallel to hold until the condition for Unregister is met.

[2015-12-01 04:58] mattto commented on #785
Just a nit: `claim()` can also change the active worker. A client could be controlled by the registration with scope `/a/b/` and then change to be controlled by the registration with scope `/a/b/c` if that reg's worker called `claim()`.

[2015-12-01 05:34] jungkees commented on #785
Right. Thanks for the clarification!

[2015-12-01 14:18] wanderview commented on #788
@mattto What does chrome do if the client has been closed when the update timer triggers?  Do you go ahead with the update or cancel the update?

[2015-12-01 14:29] wanderview opened #793 "navigations that are not intercepted should still allow interception on further redirects"
After talking with @annevk, it seems the intention of the spec is that every redirect of a navigation should check for service worker interception again.  Currently the spec is quite vague about this.

Currently step 4.2 of HTTP Fetch unconditionally set skip-service-worker on the Request if a service worker does not intercept in step 3.  In the case of a navigation that redirects, this results in

[2015-12-01 14:35] wanderview commented on #793
Gecko bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1229369

Our current behavior is to check for interception again when a service worker returns a 30x response from Handle Fetch, but not re-check for interception after a service worker does not intercept.

[2015-12-01 21:36] wanderview opened #794 "should installing workers be persisted if browser is killed?"
Consider the situation where a new SW is being installed.  Its been set as registration.installing and is in the process of handling the install event.  Before install completes, however, the browser is killed.

In this case, what should happen on browser restart?  Is registration.installing still set?  If so, when do we re-run the install event?

Its not clear to me the update mechanism will acco

[2015-12-01 21:39] wanderview commented on #794
@matto What does chrome do in this case?

[2015-12-02 01:15] jungkees commented on #794
registration.installing was set and persisted but will be set to null in the next Update (step 4.2.3).

When the execution reaches the byte-for-byte check, registration.installing should have been null (by the above) and will go on to the step 4.26.

[2015-12-02 04:34] mattto commented on #794
Chrome simply doesn't persist .installing workers, as @wanderview proposed.

[2015-12-02 04:49] mattto commented on #789
I think you're right, the spec says it should run synchronously when .register() is called.

As a general note, differences like this are artifacts of how Chrome implemented a register/update/unregister job queue before the spec had them defined (lots of discussion was at #396 ). Chrome should probably fix these but I suspect they are minor differences.

[2015-12-02 06:10] jungkees commented on #752
In reflection, I think we should stay with the current `.navigate()` as-is. (i.e. not allowing navigations of off-scope clients regardless what maxScope was set).

Suppose setting a maxScope in the header to `https://www.stanford.edu/` but setting the effective scope to `https://www.stanford.edu/~username/`. Then, `matchAll({ includeUncontrolled:true })` will still return a client with `https://ww

[2015-12-02 07:08] jungkees commented on #794
I'm not sure how to spec that behavior if desirable.

The behavior of the spec and the impl is mostly aligned except a subtle difference that the spec requires `getRegistration()` on the restart should return non-null `registration.installing` whereas the impl returns null.

[2015-12-02 07:20] mattto commented on #788
We continue with the update, it's scheduled on the SW entity itself rather than attached to the client.

For that matter, opening lots of tabs really quickly will only trigger one update in Chrome.

[2015-12-02 07:37] mattto commented on #794
Well, Chrome is even more different: `getRegistration()` itself returns null if there was never a successfully installed worker for that registration. In Chrome's design all persisted registrations have exactly one persisted worker (a waiting one or an active one).

I think that's cleaner, that way you don't need to keep around state for half-installed workers. It also applies to cases like a disk

[2015-12-02 07:56] jungkees commented on #794
I think there should be certain cases where clients want to get access to `.installing`, `.waiting` and `.active` at the same time, e.g. messaging between them. The whole point we divided the states of the workers that can be running in parallel is to maintain the versions of the workers without breaking the state.

[2015-12-02 09:31] mattto commented on #794
Right, Chrome supports that but only one worker is persisted on disk. The .installing worker is written to temp storage and thrown away if it never reached .waiting.

[2015-12-02 10:32] jungkees commented on #794
Understood. Also, agreed on the point that the .installing never reached .waiting before browser termination is sort of a garbage that doesn't get a chance to be installed again. I think, for the spec, garbage collecting those registrations having only the .installing when browser is killed can be an idea.

[2015-12-02 10:35] jungkees commented on #794
One thing to check is the scenario where a registration has both .active and .waiting, and the browser is killed in that state. When the browser restarts and the .active spins off on an event and invokes `clients.claim()`. I think this should be working. For this scenario, shouldn't both .active and .waiting be persisted?

[2015-12-02 13:25] mattto commented on #794
Chrome's position is that when the browser is closed, the .active worker no longer controls a client. So it restarts with only the .waiting worker which is activated on the next fetch or push event.

[2015-12-02 14:55] wanderview commented on #789
To be honest, I think we should change the spec on this one.  I don't like that .register() accesses shared state outside of the job queue synchronization mechanism.  See issue #783.

[2015-12-02 15:42] wanderview commented on #794
I like the idea of persisting only one service worker on disk.  It simplifies things considerably.

From a spec language point of view, could we have a section like "Browser Shutdown" that says which of installing/waiting/active get discarded and which get persisted to next browser start?

[2015-12-02 15:53] wanderview commented on #794
I wrote a gecko bug for us to simplify our persisted information to match chrome's behavior: https://bugzilla.mozilla.org/show_bug.cgi?id=1229795

[2015-12-02 23:15] inexorabletash opened #795 "Editorial: Reword normative uses of "can""
In appendix B there is normative text reading:

Those should follow RFC2119 and be phrased as MUST or SHOULD or MAY,

[2015-12-03 01:15] jungkees commented on #794
Agreed.

I think the next fetch when the browser restarts will not activate the .waiting. The fetch just falls back to the network. (There's no active worker to dispatch fetch event at, so it doesn't get a chance to invoke Soft Update either.) So, making "Browser Shutdown" invoke Activate for all the registrations having both .active and .waiting makes sense? Let me know if this conforms to the cu

[2015-12-03 01:21] jungkees commented on #789
I'll take a look how I can address this requirement. Seems like some refactoring is needed in Register and Update.

[2015-12-03 01:31] jungkees commented on #795
Thanks!

[2015-12-03 01:34] jungkees commented on #791
Closing. Please let me know if more discussion is needed.

[2015-12-03 01:34] #791 closed

[2015-12-03 20:06] mariusGundersen opened #796 "Implement API to reject PUSH_PROMISEs sent by the server over HTTP/2"
[HTTP/2](http://http2.github.io/http2-spec/index.html) has support for the server pushing content to the client before the client requests it. This is specified as the server sending a [PUSH_PROMISE](http://http2.github.io/http2-spec/index.html#PUSH_PROMISE) to the client with (at least) the `method` and `url` to the resource. The server can then start sending the response to the client before the

[2015-12-03 22:26] wanderview commented on #783
Its fine to still use a flag on the registration to indicate an unregister is in progress without blocking.  I'm just saying a single queue to step through job state would be the easiest to understand and avoid the races we are seeing in the spec at the moment.

[2015-12-04 01:04] mattto commented on #794
One difference is when you restart Chrome, if you getRegistration(scope) from an out of scope page you can get a registration with non-null waiting and null active.

That could probably be considered an implementation bug though. On getRegistration Chrome could trigger Activate that case, then I think it'd conform to the spec.

[2015-12-04 02:48] jungkees commented on #783
I basically don't want to break any behavior that Blink implemented in conformance to the current spec so far. But I'm willing to refine the algorithms for simpler reasoning and the expected behavior if both Blink and Gecko agree.

Here's the outline of the refinement (if agreed) based on what's suggested:
- Q: A job queue
- J: A job: fetch a script and make it get through to .waiting (i.e. **Upda

[2015-12-04 05:05] jungkees commented on #752
One last thing for now. The current `.navigate()` step 4 disallows the navigation of in-scope-but-not-controlled clients (shift+reload of in-scope client, etc.) as well as off-scope clients. If this is okay, I'll close the issue. It seems Chrome is ready with the implementation of the current spec: https://code.google.com/p/chromium/issues/detail?id=500911.

/cc @jakearchibald @johnmellor

[2015-12-04 09:35] mattto commented on #752
I'm OK with implementing the most restrictive thing and loosening restrictions later if needed. In-scope-but-not-controlled seems like a rare edge case that doesn't need to block shipping.

[2015-12-04 19:42] ehsan commented on #791
My point was mostly about `Clients.get()`.  Per spec, there is no way to obtain a clientId belonging to a non-secure context.  `Clients.matchAll()` and `Clients.claim()` don't work for non-secure clients, and we will never dispatch a `FetchEvent` for a non-secure non-subresource load, so the behavior of `Clinets.get()` would be the same whether or not the check for the secure context exists in the

[2015-12-05 05:17] jungkees commented on #752
Agreed. Closing.

[2015-12-05 05:17] #752 closed

[2015-12-05 20:20] wanderview commented on #783
I'm less certain if we need this large a change now that we're removing script URL from the registration and making it an argument to the job.  I need to think about it more.

About the original race, if we move the .register() accesses to the registration into a job queue then we could make the Clear Registration conditional on if the queue is empty.  So we only clear when there is no competing r

[2015-12-07 14:39] wanderview commented on #783
Thinking about this more, how about this:

Instead of passing the registration to the job as an argument, we instead pass the scope.  Then, once we are in the job synchronization mechanism we pull the registration out the map again each time.  This lets us explicitly handle the case where the scope is not in the map.  For a register() operation we would create a new registration.  For an update()

[2015-12-08 01:46] jungkees commented on #783
Sounds good. It's basically what we discussed in terms of putting register jobs into a job synchronization mechanism. For this, I think the algorithm thread queue should be defined as a per-scope queue instead of a per-registration queue as there's no registration for first time registrations. I'll check out if we have any further problem to solve to spec it this way.

Regarding maintaining multip

[2015-12-08 17:05] wanderview commented on #783
Yea, I think multiple queues is ok.  I think we just have to be very cautious about making any job waiting in a queue only reference transient parameters and not shared state.

[2015-12-09 21:14] 75lb commented on #691
@matt-cook it's trivial to create a self-signed cert for local use - no need for openssl, verification or *any* 3rd party.. follow [these steps](https://github.com/75lb/local-web-server#https-server).

[2015-12-09 21:55] annevk opened #798 "Add ServiceWorker.prototype.registration"
Would be kind of convenient to have a pointer to a `ServiceWorker`'s corresponding `ServiceWorkerRegistration` instance. Or is it too problematic that you can then get to it synchronously from the controller?

[2015-12-09 22:23] wanderview commented on #798
Even if its async, it would be nice to conclusively get the registration managing the ServiceWorker object.  Currently things like getRegistration() could conceivably give you a different registration.

[2015-12-10 22:21] jeffposnick opened #799 "Promise on navigator.serviceWorker that resolves when page is controlled"
In the following sample code ([live version](https://rawgit.com/jeffposnick/66dffeb92dfdd20d9aac/raw/a7f3ce696c56e496e9736f05869969926fbdecc3/index.html)), I ended up making a wrong assumption that might catch other developers by surprise:

Excerpt from `index.html`:
[code]

`sw.js`:
[code]

The assumption I had was that, by virtue of waiting on `clients.claim()` inside the SW's `activate` handler

[2015-12-10 22:37] wanderview commented on #799
Well, I think .ready() resolves as soon as the active worker is set.  This is before the activate event is even dispatched.  The SW running the activate event is already set as registration.active.  So I don't think we can conceivably wait for the activate event's waitUntil() to resolve to get the effect you were expecting.

Also FWIW, the clients.claim() spec seems buggy at the moment.  For examp

[2015-12-10 22:49] wanderview commented on #799
Oh, the navigation fetch should not complete until activate waitUntil resolves, though.  So I think your test case should work.

We explicitly do this waiting in firefox, but I think @matto might have told me chrome does not wait yet.

The live version above does seem to work as you expect in firefox nightly.

[2015-12-10 22:52] wanderview commented on #799
Sorry, I was confused.  From a fresh uninstalled state I do see the behavior you describe.

[2015-12-10 22:58] jeffposnick commented on #799
After thinking about this more, I realized that what I initially proposed, with the assumptions I was making, would lead to a deadlock.

Let me rephrase this feature request: it would be useful if there were a promise exposed on `navigator.serviceWorker` that only resolved once the page was controlled by (any) service worker. I had incorrectly assumed that `navigator.serviceWorker.ready` was such

[2015-12-11 03:57] wanderview opened #800 "should update() during top level script evaluation be ignored?"
The wpt tests we imported from blink has this code at the top level of one of its service worker scripts:

I don't see anything in the spec that does this.  It seems like it might be a good idea, though, to avoid potential infinite async update loops.  For example, if the install event fails or something I think you could end up with an endless set of failing update jobs running in the background.

[2015-12-11 04:00] wanderview commented on #800
@matto, can you clarify exactly what chrome does in this case?  Does it truly ignore it silently or does it reject with an InvalidStateError?

[2015-12-11 04:08] mattto commented on #800
Let me take a look.

As a process note, I'm having trouble staying on top of Github mail. Is it possible to assign me to these issues that are blocked on my feedback, so I can use the Github's issue tracker to keep track of my tasks?

[2015-12-11 04:11] mattto commented on #800
Ah, I see searching issues for mentions:matto is a pretty good way.

[2015-12-11 04:14] mattto commented on #800
Ah you mentioned the wrong matto. I'm @mattto with three t's.

[2015-12-11 04:17] wanderview commented on #800
Ah, sorry!  Fixed in the comment above.

[2015-12-11 13:38] gauntface commented on #614
Just wanted to add an extra use case.

I've writing some unit tests for SW fetch events and hit a scenario where registering and unregistering SW's between tests and essentially there was no way to completely remove the currently controlling sw since the redundant SW is brought back to life if the same SW is used between tests.

[2015-12-11 15:52] jeffposnick commented on #799
FWIW, lacking formal support for such a promise in the platform, I'm adopting https://github.com/PolymerElements/platinum-sw/blob/fix-flaky-test/test/controlled-promise.js in some unit tests that need to wait until the page is controlled before they execute.

[2015-12-11 18:57] ehsan commented on #800
I think it makes more sense to reject the promise.  Ignoring it silently seems wrong to me.

[2015-12-13 13:41] delapuente commented on #799
@wanderview are there technical impediments for instead of resolving ready when the sw gets to activating, make it resolve when getting to activated?

[2015-12-14 09:49] jungkees commented on #799
If `.ready` were designed to resolve when the client got a controller, we couldn't use it for the initial client loading triggered w/o a registration and the shift + reload case (as that client will live w/o a controller for its lifetime). `controllerchange` is exactly the event to catch the client's controller (active worker) change.

I think changing the behavior of `.ready` is not a good idea.

[2015-12-14 14:50] jakearchibald commented on #799
Agree with @jungkees. Reg .ready means you can use APIs that depend on an active worker, such as push & BG sync.

[2015-12-14 14:52] wanderview commented on #799
@jakearchibald wouldn't it make more sense to resolve .ready on `activated`, though?  I believe we delay functional events fired at the SW until the `activate` event completes.

[2015-12-15 01:03] wanderview commented on #783
I'm effectively implementing this in gecko in this bug:

https://bugzilla.mozilla.org/show_bug.cgi?id=1231974

[2015-12-15 01:44] mattto commented on #800
Looks like we reject with a InvalidStateError.

The spec probably needs to be revised? In update(), Get Newest Worker is not necessarily null, if there's an active or waiting worker. Then in 9.2 Update, the installing version would be terminated.

[2015-12-15 11:44] delapuente commented on #799
@jakearchibald , I agree but you can not use them because there is a small windows between activating and activated where you don't receive functional events (like @jeffposnick discovered). It only can when it is fully activated. So, as @wanderview suggest we should resolve `.ready` when activated. The other option is to stall functional events until activation completion but this could be harmful

[2015-12-15 12:20] annevk commented on #795
Hmm, shouldn't that be described in the algorithm responsible for the fetch?

[2015-12-15 13:39] annevk commented on #796
I think we want a more generic API and not require service workers to be able to deal with H2 push. https://github.com/whatwg/fetch/issues/51 has some discussion and ideas, but not much progress yet.

[2015-12-15 14:21] jeffposnick commented on #799
`.ready` resolution could be left as-is, and there could be a new promise, perhaps named `.controlled`, that resolves when there's a controller for the current page.

I see this as being useful primarily for writing unit tests, when the "progressive enhancement/I don't care if there's a controller or not" aspects of service worker isn't relevant, and you really need to delay execution until there'

[2015-12-15 14:43] petkaantonov commented on #587
The total cache size of opaque items could be ceiled up to closest e.g. 100k bytes so it would be useful for total size use case but not hinting too much of the actual size of an opaque response in the 1 to 1 cache <-> response case.

[2015-12-15 15:28] wanderview commented on #799
To repeat, this is in the spec today.  And we implement it.

[2015-12-15 16:15] wanderview commented on #783
So, having implemented this, I can see there are still some races:

0) Start with an active worker with script A.
1) A register() adds an Update job with script B to the update queue.
2) Add a second Update job with script A to the update queue.
3) The first Update is popped off the update queue, verifies that we are registering a new script, and queues an Install job for script B in the install q

[2015-12-15 16:27] wanderview commented on #783
Actually, to better fix this race I'm going to pass a value into the install job indicating whether the script URL can change or not.  That way the update job can indicate that changing the script is not permitted and the install job can abort.

Not sure thats the best way to represent this in the spec.

[2015-12-15 19:30] mkruisselbrink commented on #795
It was already described in the algorithm for those fetches. And the original "can include" text was just confusing in that it didn't make it clear at all that the Service-Worker header is always included for those requests.

[2015-12-16 02:15] jungkees commented on #783
The current behavior in the spec is the second job will replace the first job. That is in the example above, when the second update job gets in the synchronized steps, it'll replace the current installing worker in the first place by terminating the executing installing worker. Then, this update job will continue and advance to the Install phase if the conditions are all met. The terminated instal

[2015-12-16 06:58] jungkees commented on #789
Merged to #789.

[2015-12-16 06:58] #789 closed

[2015-12-16 07:00] jungkees commented on #783
I'll review what chrome does now and revisit the spec algorithms to make them congruent.

This issue merges #789.

[2015-12-16 08:47] annevk commented on #795
It seems "can include" should then say "will include". You shouldn't make normative requirements twice.

[2015-12-16 12:33] jakearchibald commented on #678
Closing in favour of https://github.com/whatwg/html/issues/411

[2015-12-16 12:33] #678 closed

[2015-12-16 14:44] wanderview commented on #783
In my example above there is no installing worker yet.  The first install job has not been executed yet.  Its a race between running the install job or the second update job.

[2015-12-17 01:58] jungkees commented on #783
Understood your concern. So it was between the first install and the second update.

I think the result would be what we expected as the second job's worker (script A) would be the waiting worker at the end. The rationale that I relied on to not break the state is the second install will never run before the first install completes. So the second job's worker will be the final waiting worker. (reg

[2015-12-17 04:48] jungkees commented on #783
I think this is the summary of the expected behavior and what Chrome does now: https://github.com/slightlyoff/ServiceWorker/issues/396#issuecomment-71590525.

[2015-12-17 08:04] romandev opened #801 "Can we add some options to ClientQueryOptions?"
Hi all,

I'm Jinho Bang and Blink contributor. (I'm interested in service worker.)

Can we add some options to ClientQueryOptions?

For example, if there is a FrameType option in ClientQueryOptions, we can simplify the following code.

Before:
[code]

After:
[code]

We will add other options such as id, url and other things.

Also, we can add clients.match() method as well. (I think)

[code]

I th

[2015-12-17 12:25] jungkees commented on #783
FYI, I started working on this on the nightly version in the "job-structure-revision" branch: https://github.com/slightlyoff/ServiceWorker/blob/job-structure-revision/spec/service_worker/index.html. It's WIP (https://github.com/slightlyoff/ServiceWorker/commit/447d2d6f00b9f996d0a36faf27ea1a7c9daf984f). Please don't review it in detail. A lot of things to update. But you may want to check it out to

[2015-12-17 13:26] delapuente commented on #799
Roger but please, consider the other option (resolving `.ready` when activated, which is more aligned with what we want to communicate) and be aware about the potential problems of stall until activation which could lead to noticeable delays in responses due to perfectly valid `onactivate` tasks.

@wanderview just a clarification, are all functional events stalled until activation or only fetch ev

[2015-12-17 14:25] domenic commented on #801
IMO we should not be pursuing such sugary conveniences at this stage, and leaving them to service worker libraries such as sw-toolbox.

[2015-12-17 14:28] wanderview commented on #799
All functional events.  I recently got step 4 added here:

  https://slightlyoff.github.io/ServiceWorker/spec/service_worker/index.html#handle-functional-event-algorithm

The fetch event waiting for activate event to complete was previously in the spec.

We delay for all functional events in gecko.  I don't know what chrome does at the moment.

[2015-12-17 16:18] jakearchibald commented on #799
@delapuente

I'm not sure what you mean by "can not use". Functional events are queued. The APIs are fully functional. Can you show me a failure case?

I'm not against making `.ready` resolve on activation, but we need a better argument.

[2015-12-17 16:22] jakearchibald commented on #799
@jeffposnick

This could be implemented as:

[code]

I think we need more evidence that this is a common enough pattern to add to the platform.

[2015-12-17 16:26] jakearchibald commented on #799
@delapuente

Can you show me some code that would be delayed in this way?

[2015-12-17 16:27] jakearchibald commented on #801
Agreed, we should look to add things like this based on real world usage.

[2015-12-17 16:28] jeffposnick commented on #799
The "gotcha"/failure came up in the context of writing a unit test, where the code to execute *really* had to wait until the page was controlled, or it wouldn't end up testing the right thing. I had originally written the test to wait on `.ready`, and then got confused when the test ended up being flaky.

I now understand why the test was flaky, and am using a [synthetic `.controlled` promise](htt

[2015-12-17 16:30] jakearchibald commented on #798
Not against adding this unless the synchronous nature (or circular reference) is problematic.

[2015-12-17 17:48] delapuente commented on #799
Thank you @wanderview , that step is what I was missing!

@jakearchibald , my comment was added before knowing about the fact that functional events are delayed until activation. So, no problem here.

@jeffposnick can you point to the specific test? If the spec says that events are delayed and it's well implemente, I'm not able to imagine the specific scenario where `activated` is truly needed.

[2015-12-17 17:52] wanderview commented on #799
Personally I think some of the issues here stem from the name "ready" and sticking it on the ServiceWorkerContainer.

The current .ready promise is really when is the oldest ServiceWorker ready to begin receiving (maybe queueing) functional events.

It seems reasonable, though, for a page to think navigator.serviceWorker.ready is more about "when is my page's controlling service worker ready".  Be

[2015-12-17 18:05] jeffposnick commented on #799
@delapuente: The test I'm referring to that was flaky when waiting on `.ready`: https://github.com/PolymerElements/platinum-sw/blob/4cfa76aae4aa9926ace3041fecfafb25c4da2265/test/platinum-sw-fetch/index.html#L37

It's no longer flaky since switching over to explicitly wait on the page being controlled: https://github.com/PolymerElements/platinum-sw/blob/fb5a32dd77a7ee9e4240a05e0d00a570b176fb25/test

[2015-12-18 07:01] jungkees commented on #783
@wanderview @mattto I just updated the spec as discussed: 7b49e85bf2fa1ec36be583abbff018084e78af28. The basic behavior is:
 - It uses a single job queue where register/update/unregister job is scheduled in FIFO order.
 - The same job is aggregated when scheduled.
 - The UA dooms installing worker in favor of the next job in the queue if possible

I intended to write it conforming to the current im

[2015-12-18 14:26] wanderview commented on #783
nit: There is a broken link to Run Job from the Finish Job section.

[2015-12-18 14:28] wanderview commented on #783
Can we talk about this at the f2f in January?  @jungkees, @mattto, will you be there?

[2015-12-19 05:02] jungkees commented on #783
Fixed: 44f97f111f3f9eb90ce7bd53ef0b18a5d6c27604.

Yes, I'll be there. Any feedback before that would be great, too.

[2015-12-20 02:28] delapuente commented on #799
@jeffposnick , was the problem that your test was timing out? How long was the time out? Because, per step 4 of https://slightlyoff.github.io/ServiceWorker/spec/service_worker/index.html#handle-functional-event-algorithm that test should **pass** as your `fetch` should be delayed until the SW is activated.

So perhaps your test was revealing a bug in Chrome.

[2015-12-20 15:10] wanderview commented on #799
@delapuente That page self registers, so the initial page is not controlled.  If the test fetch happens before the clients.claim() finishes then there is no fetch event to be delayed.  It really does need to wait until being controlled before starting the test.

[2015-12-21 10:45] delapuente commented on #799
So that `fetch` is not controlled because it's dispatched between steps 10 and 13 of https://slightlyoff.github.io/ServiceWorker/spec/service_worker/index.html#activation-algorithm so, after `ready` is resolved (step 10) but before claim finishes (step 13). Isn't it, @wanderview ?

[2015-12-21 10:59] delapuente opened #802 "Should soft update algorithm be run when handling any kind of functional event?"
Use case: I want to update a web application without navigating to it.

Instead os using sync or push and launch custom installation / activation steps, it could be easier if a soft update would happen after handling the functional event so the SW could be automatically updated retriggering install and activate events.

[2015-12-21 11:06] delapuente opened #803 "Can create caches in the persistent storage?"
AFAIK, caches can be evicted under storage pressure so they are temporary storage. I'm not sure the UA should evict the content in the offline caches without the user explicit consent. Could we add an extension to the spec to require some offline caches to be considered as persistent storage?

Use case: I want my favourite game always available. If there is storage pressure, I want to decide which

[2015-12-21 12:17] jungkees commented on #802
[Handle Functional Event](https://slightlyoff.github.io/ServiceWorker/spec/service_worker/index.html#handle-functional-event-algorithm) (step 8) does so. It invokes Soft Update if the last update check was more than 24 hours ago.

[2015-12-21 12:26] jungkees commented on #803
SW cache is a persistent storage. Unless explicitly deleted by the API, the resources will persist. Detecting and handling a storage pressure is supposed to be handled by `beforeevicted` and `evicted` events defined in Quota Management API: https://slightlyoff.github.io/ServiceWorker/spec/service_worker/index.html#storage-considerations.

[2015-12-21 12:30] delapuente commented on #803
According to http://www.w3.org/TR/quota-api/#widl-ServiceWorkerGlobalScope-onbeforeevicted

So it does not seems to match with the requirement ot be persistent storage. Or am I missing something?

[2015-12-21 12:36] jungkees commented on #799
The page will have its controller only after `clients.claim()` step 3.4.2 is executed, which is after the Activate algorithm completed. If the test fetch has already happened before that, it falls back to the network in Handle Fetch algorithm before dispatching fetch event.

[2015-12-21 13:10] delapuente commented on #802
I was looking at http://www.w3.org/TR/service-workers/#handle-functional-event-algorithm
Thank you!

[2015-12-21 13:10] #802 closed

[2015-12-21 14:33] wanderview commented on #803
The idea is to use the storage spec to request persistence:

  https://storage.spec.whatwg.org/

We don't implement this in gecko yet, but I thought I saw some blink intent emails for this API.

There is still debate about whether to do something like the `beforeevicted` event or provide a storage API for controlling eviction.  In gecko we strongly prefer something through the storage API and not

[2015-12-23 04:00] wanderview opened #804 "unregister() in service worker navigation fetch event"
Consider this case:

[code]

If this is the first navigation for this scope, then there may be no controlled clients.  This means the unregister() can kill the current worker before it completes the fetch event.

This leaves things in a bit of a messy state because .respondWith() was called, but the worker died before it completed.

This is kind of a corner case, but it would be nice to understand

[2015-12-27 20:09] adrianholovaty opened #805 "Allow custom cache keys for request caching"
At the moment, `Cache.match()` and `Cache.matchAll()` use a `RequestInfo` object as the cache key (i.e., either a `Request` or a string that turns into a `Request`). This is nice and simple for the common case, but it'd be nice to provide a way for developers to explicitly specify the cache key as a string.

Use cases:

* In case of one-time/expiring URLs, the cache key should be the subset of the

[2015-12-27 20:57] adrianholovaty commented on #805
Well, I just had a Twitter back-and-forth with @slightlyoff and he pointed out that this can be achieved by creating a custom request, then caching that:

[code]

With this solution in mind, I'm not sure whether this particular issue needs to stay open. But I'll leave it for the maintainers to decide...!

[2016-01-01 12:21] annevk commented on #805
That is equivalent to just passing a string, so I don't understand what more needs to be done here.

[2016-01-04 10:39] jakearchibald opened #806 "Create F2F agenda"
I'll convert this to a wiki page once we have something more concrete, but an issue seems easier for discussion.

Things I'd like to cover (in priority order)

* Outstanding V1 issues, as we did in Sapporo, but hopefully won't take as long
* Cache API enhancements (since we're likely to have @wanderview around), especially transactions & making `addAll` more useful
* Foreign fetch
* Navigation han

[2016-01-04 10:47] annevk commented on #806
Perhaps @jungkees could round up the v1 issues he thinks need discussing so we can have a go at the simpler ones now.

[2016-01-04 10:56] jakearchibald commented on #806
I'm up for that. Eat our greens ahead of the meeting so we can concentrate on the fun stuff. I'll also put together a rough proposal for the cache API stuff, so we're starting from somewhere.

[2016-01-04 14:42] wanderview commented on #806
I would like to review the recent changes to the lifecycle job queue stuff.  In particular, I'd like to walk through some test cases and get agreement on what should actually happen.  I'll try to send the list of tests in advance so people can look at them.

[2016-01-04 16:19] wanderview commented on #805
If nothing else, i think this can be duped to #657.  Please reopen if anyone disagrees.  Thanks.

[2016-01-04 16:19] #805 closed

[2016-01-04 16:22] wanderview commented on #806
Also, I'd like to make sure we answer the base URI question in #787.

[2016-01-04 19:50] ehsan opened #807 "The "uninstalling flag" check in ServiceWorkerRegistration.update() should be moved to the Update algorithm"
Currently the spec in section 3.2.5 step 3 says:

[code]

Therefore, if the script calls unregister() and update() sequentially, assuming the job queue is not empty, the Unregister algorithm runs after the initial call to update(), which is where we check the uninstalling flag.

It seems better to move this check to the Update algorithm instead so that we can check the latest value of the uninstal

[2016-01-04 19:57] wanderview commented on #807
I also think it makes sense in the update algorithm.  This will also abort soft updates that are triggered on an uninstalling registration.

[2016-01-05 00:21] jungkees commented on #806
Alright. Good idea. I'll do so although most of the remaining V1 issues here seem not trivial.

[2016-01-05 01:29] jungkees commented on #807
Added the guard in Update algorithm: 784f69a8fdd027b267abf8f0d80b5c40df137a7a. I didn't remove the corresponding steps in update() and Soft Update so they can abort the update requests before scheduling them. Do you think we better remove them?

[2016-01-05 04:58] mattto opened #808 "What is FetchEvent.clientId for navigation requests"
Spin-off of issue #723

The spec recently made clientId == null for navigation requests:
https://github.com/slightlyoff/ServiceWorker/commit/872e51b9f06d9872d925a2877f02ca765194ef78

But if I'm not mistaken, Gecko populates clientId[1] on the navigation request and re-uses it for subresource requests from that client:
[code]
[1] http://lxr.mozilla.org/mozilla-central/source/testing/web-platform/mo

[2016-01-05 06:24] jungkees commented on #808
I remember we chatted about this about a month ago, and @wanderview was happy with undefined for navigation at least for now. (I did it with null as we need some IDL support for undefined.)

Meanwhile, it seems Gecko implemented `.clientId` for a navigation request to set the value to the id of a newly created (target) client.

I was a bit not comfortable with setting it to the target client's id

[2016-01-05 07:08] jungkees commented on #808
cc @jakearchibald @annevk @slightlyoff

[2016-01-05 10:17] annevk commented on #808
The  target makes somewhat more sense than the source, though in specification theory the target might not have been created yet so how exactly that setup should work is a tad unclear. It can work, but it requires a lot of refactoring of "navigate", which is already a bit of a mess. I'm worried that once we untangle it more, we might find some problems with the stuff we are now building on top of

[2016-01-05 12:02] mattto commented on #783
I'm still TBD, I have some personal stuff going on in January. If I can't make it, I'll make an effort to join remotely at least for the late afternoon Pacific time.

[2016-01-05 12:05] mattto commented on #783
This is something Chrome does but I'm aiming to remove it. I believe it adds unnecessary complexity. It's simpler to just let the installing worker finish doing its thing or eventually timeout. I originally added it to stop ```waitUntil(new Promise({}) ``` from blocking the queue, but now Chrome has event timeouts so that is not a concern.

[2016-01-05 14:43] wanderview commented on #807
I think it would be better to remove the additional checks in update() and Soft Update.

Consider:

1) Registration has its uninstalling flag set.
2) A new register job is pending in the queue.  This will clear the uninstalling flag when it runs.
3) update() is called

Leaving the checks in place will cause the update() call here to be racey.  If update() is called before the register job runs, th

[2016-01-05 14:45] wanderview commented on #808
I think it should be undefined or null for now.  It cannot be the target id because it does not exist, and may never exist depending on what the service worker does.  I think this is a bug in gecko.

[2016-01-05 14:49] wanderview commented on #808
https://bugzilla.mozilla.org/show_bug.cgi?id=1236933

[2016-01-05 14:54] wanderview commented on #783
How long of a timeout do you use for this?

[2016-01-05 15:00] mattto commented on #783
Right now, 30 seconds for executing sync JS (```while(true) {}```), five minutes for any event (```event.waitUntil(new Promise())```).

[2016-01-05 20:20] wanderview commented on #808
For reference, here is the IRC conversation that sparked this change:

  http://logs.glob.uno/?c=freenode%23whatwg&s=11+Nov+2015&e=11+Nov+2015&h=clientId#c974050

[2016-01-05 21:48] wanderview commented on #808
I guess @ehsan doesn't agree with me.  He'd prefer to show the target clientId.  I've asked him to comment here so we can discuss.

[2016-01-05 22:11] wanderview commented on #808
I think @ehsan implemented something that I am ok with, though.  You can get a clientId for a navigation FetchEvent, but the clients.get(evt.clientId) returns null.  The client does become "live" until the navigation successfully completes.

[2016-01-05 22:14] ehsan commented on #808
I implemented FetchEvent.clientId based on the previous text of the spec, and I think the implementation is pretty straightforward.  Here is what I understood from the previous text of the spec:

FetchEvent.clientId should be set to the ID corresponding to the client that the document being navigated to represents.  In Gecko, the implementation works by computing a client ID on something close to

[2016-01-06 03:58] jungkees commented on #807
Agreed. Remove those additional checks: 23e6438ae3e2678b7030bc8d6d8778f1b05dc19d. Thanks!

[2016-01-06 03:58] #807 closed

[2016-01-06 08:37] jungkees commented on #804
Once a fetch event is dispatched to the service worker in the example, that means the client got a controller for this fetch already. If there was no matching registration or registration's active worker, it should have hit the network.

[2016-01-06 08:48] jungkees commented on #803
So we may defer to what the Storage API provides and the decision between that and `beforeevicted`.

[2016-01-06 15:17] wanderview commented on #804
I guess I am talking about this scenario:

1) https://example.com/index.html calls register('foo/sw.js') which results in a registration with scope https://example.com/foo/
2) https://example.com/foo/index.html is opened in a new tab
3) A FetchEvent for foo/index.html is fired

At point 3 there are no loaded documents under foo/ yet.

Are you referring to this test after 12.5 in Handle Fetch?

Wou

[2016-01-06 15:58] dontcallmedom opened #810 "MessagePort[] no longer valid in WebIDL"
the `T[]` array type has been removed from WebIDL, but Service Worker still uses it with `MessagePort[]` in `ServiceWorkerMessageEvent` and `ExtendableMessageEvent`.

Also, it applies the `[SameObject]` extended attribute to those, but `[SameObject]` is not supposed to be applied to arrays, only to interface types.

[2016-01-07 00:44] jungkees commented on #801
Agreed. Thanks for the suggestion though @romandev.

Closing.

[2016-01-07 00:44] #801 closed

[2016-01-07 00:52] jungkees commented on #796
Tagging it Future ideas in favor of https://github.com/whatwg/fetch/issues/51 until we see some concrete proposal.

[2016-01-07 01:13] jungkees commented on #793
Seems like it has not been addressed yet? Also need to check what Blink does. /cc @mattto

[2016-01-07 01:25] jungkees commented on #800
I don't see any problem with the current text. If the install event fails, the worker will get redundant. Rejecting the promise (`update()` step 4 that ) when the newest worker is null should be enough I guess.

[2016-01-07 02:09] jungkees commented on #804
Yes.

I think the network load being handled by the service worker means the client initiated this request is already controlled that worker.

Also I wonder how one can access navigator.serviceWorker.controller from the unloaded (about:blank?) document when the navigation to a new document already occurred with [replacement enabled](https://html.spec.whatwg.org/multipage/browsers.html#replacement-

[2016-01-07 03:28] wanderview commented on #804
Right, I guess I have a hard time reasoning about clients in this mid-navigation state.  Its weird for me to think of them as controlled.

Anyway, I think you've convinced me there is no spec issue here.

[2016-01-07 03:28] #804 closed

[2016-01-07 03:33] wanderview commented on #804
I do have one question.  At what point does the client stop being controlled if the user navigates to a new page?  Or if the page is redirected to about:neterror or other internal error page, is the controlling state removed?

[2016-01-07 04:28] jungkees commented on #804
We don't have a concept to reset the controller to null at the moment. I thought it was okay as a new client is created during a navigation. But I think it's not any more. It seems the behavior specified in HTML has been changed recently: https://html.spec.whatwg.org/#navigating-across-documents:set-up-a-browsing-context-environment-settings-object. Now an environment settings object is created on

[2016-01-07 04:28] jungkees commented on #804
Will open a new issue for it.

[2016-01-07 04:44] jungkees opened #811 "Should the active worker move to environment settings object?"
It seems the navigation behavior in HTML has changed and says now a navigation doesn't create a new environment settings object but just re-use the settings object for the browsing context: https://html.spec.whatwg.org/#navigating-across-documents:set-up-a-browsing-context-environment-settings-object.

An environment settings object is a good fit to cover both window clients and worker clients. I

[2016-01-07 04:46] jungkees commented on #804
Filed: https://github.com/slightlyoff/ServiceWorker/issues/811

[2016-01-07 05:53] jungkees commented on #732
Just to check if the decision still holds. Is it still okay to remove `Client.frameType`?

[2016-01-07 06:05] jungkees commented on #806
I added "V1 Issues need discussion" in the OP. Those are basically the issues that I don't have any concrete answer yet. I may add a few more but other issues not listed are just in my TODO.

Hope we can tackle as many issues as we can here so we can spend more time on non-V1 issues this time.

[2016-01-07 10:37] jakearchibald commented on #808
On the other hand, the Mozilla behaviour makes it really tricky to know when a client has gone. With the current spec, `clients.get(clientId)` returning null means the client has gone, so its data can be removed from databases etc. In the Mozilla behaviour, if null is returned the client may have expired, isn't yet created, or may never be created. I'm a little worried about this.

Maybe we should

[2016-01-07 12:10] r-nathan opened #812 "Service worker state on system restart"
Can we retain the cache even after quitting the browser completely and accessing the application?

The scenario: I access the application and then cache all the static files with service worker. Till I don't quit the application (or chrome running in background), since the service worker thread is running, service worker is serving files from cache. If I quit the completely and restart the service

[2016-01-07 12:20] jakearchibald commented on #812
The cache is already retained across browser restarts, this is how things like https://jakearchibald.github.io/svgomg/ work offline.

If you're using Chrome, Check out the resources panel in Chrome's devtools to see what's in the cache API.

[2016-01-07 12:20] #812 closed

[2016-01-07 12:58] delapuente opened #813 "Should mixed content always be blocked?"
Currently, trying to fetch content served by HTTP inside a service worker results in the request being blocked by the UA. Is this the expected behaviour? If so, which parts of the current specification support it?

I found this comment in a Chrome bug, referring to that:
https://code.google.com/p/chromium/issues/detail?id=448672#c4

It says fetch is not an optionally blockable request context but

[2016-01-07 14:37] wanderview commented on #813
I believe the intent is to allow network requests that would originally passed mixed content checks to continue passing even if a SW proxies them with `evt.respondWith(fetch(evt.request))`.  I just don't think anyone has implemented that yet.

[2016-01-07 14:39] wanderview commented on #813
I also think there are some possible issues with the current spec.  The mixed content spec uses this "passthrough request" concept, but that does not exist in the fetch spec.  In addition, its unclear if "passthrough request" is something that would be persisted in Cache API, etc.

[2016-01-07 14:53] wanderview commented on #806
Might be a low priority at this point, but there are some questions about allowing some mixed content in #813.

[2016-01-08 06:39] jungkees commented on #808
Yes, I agree. How about keeping the current spec behavior (returning undefined/null) and discussing whether to add .potentialClientId in this f2f?

[2016-01-08 16:05] wanderview opened #814 "should subresource FetchEvents trigger an update if 24-hours since last check?"
Currently the spec indicates we should trigger a soft update in these conditions:

1) After a non-subresource FetchEvent is handle regardless of last check time.  This is done in Handle Fetch.
2) After a functional event is handled if its been more than 24 hours since last check time.  This is done in Handle Functional Event.

FetchEvents extend ExtendableEvent like other functional events.

Shoul

[2016-01-08 19:21] ehsan commented on #808
Exposing this under a different attribute is fine by me.  I'll modify Gecko to return null for now, and we can add the other attribute depending on the f2f discussion.

[2016-01-09 03:15] ehsan opened #815 "FetchEvent's constructor's second argument must be optional"
This is the convention for defining new Events.  Both Chrome and Firefox implement this correctly.

[2016-01-09 03:28] jungkees commented on #808
Great. Thanks. I'll close the issue after filing a new one for potentialClientId.

[2016-01-09 04:06] ehsan opened #816 "ExtendableMessageEvent.source cannot be SameObject"
According to [WebIDL] (http://heycam.github.io/webidl/#SameObject), `[SameObject]` doesn't apply to union types, so we should remove this annotation from ExtendableMessageEvent.source.

[2016-01-09 04:10] domenic commented on #815
I think the consensus was for EventInitDicts with required members, the eventInit argument should not be optional.

[2016-01-10 13:16] annevk commented on #808
Wait, should we even expose when a client is gone? I know workers go out of their way not to expose that through ports. That would expose GC, no?

[2016-01-10 14:22] jakearchibald commented on #808
For ClientID to be useful across requests you'd need to store something about that client persistently, eg in IDB. Without a way to clean up that data, it's not very useful.

[2016-01-11 03:46] jungkees commented on #815
That's right. It was decided that `FetchEventInit.request` is required. I plan to address this change in Chrome via https://codereview.chromium.org/1435633002.

[2016-01-11 03:46] #815 closed

[2016-01-11 17:34] ehsan commented on #815
That'd make sense!

[2016-01-11 17:37] ehsan commented on #815
Argh, except that I cannot reopen!

[2016-01-11 17:38] ehsan commented on #815
(And the spec is incorrect anyways, please reopen!)

[2016-01-11 17:50] domenic commented on #815
No, you misunderstood. The second argument is required, when it is a dictionary that contains required members. Which is the case for FetchEvent.

[2016-01-11 18:36] ehsan commented on #815
Oh you're right, I misread your original comment!

I modified Gecko accordingly.  Thanks!

[2016-01-14 05:16] #795 closed

[2016-01-14 05:38] jungkees commented on #688
Need a resolution. Would like to discuss at the f2f.

[2016-01-14 07:08] jungkees opened #817 "Is a new property to get the navigation's target client needed?"
As discussed in https://github.com/slightlyoff/ServiceWorker/issues/808, `FetchEvent.clientId` returns null for a navigation request. But as Mozilla suggested, we may need a new property (reservedClientId or potentialClientId?) to get the target client's id if it has use cases.

[2016-01-14 07:09] jungkees commented on #808
Issue for the new client's id filed: https://github.com/slightlyoff/ServiceWorker/issues/817

[2016-01-14 08:25] jungkees commented on #800
That's right. And even in the example in the OP, update() was called within the installing worker's script, the newest worker, the installing worker itself, is always there. But the Schedule Job will aggregate this update() job in favor of the running installation, so there won't be such an endless set of failing updates.

[2016-01-14 11:18] annevk commented on #808
@jungkees you closed this, but my question isn't addressed.

[2016-01-14 15:33] jungkees commented on #808
I thought you don't disagree to @jakearchibald's comment.

[2016-01-14 15:38] wanderview commented on #800
You will still end up with continuous updates running once every 1 second (or whatever update delay the particular browser uses).  This seems bad to me.  I think we should remove the potential for infinite loops in job scheduling where possible.

I think it would be better to silently resolve the update() promise with success if called:

1) During top level sw script evaluation.
2) Called while in

[2016-01-15 10:11] jungkees commented on #816
Did you reference this part? Before removing it, I just want to make sure whether it intends to disallow the case when all the member types of the union are interface types.

/cc @heycam @bzbarsky

[2016-01-15 10:59] mathiasbynens commented on #705
PR: #818.

[2016-01-15 13:57] bzbarsky commented on #816
That part of the IDL spec is just bogus, imo; there are existing IDL issues on that.  Any type that's always an object, including unions of interface types, Promise, etc, should be OK to use with `[SameObject]`.

Arguably, even a union for which _some_ types are an object should be OK with `[SameObject]`.

@heycam may have pointers to the IDL spec issues off the top of his head.

[2016-01-20 06:40] mattto commented on #806
Where is this list?

[2016-01-20 06:51] jungkees commented on #806
I noticed the list that I added in the OP has gone. I'll add it again with some more updates.

[2016-01-20 07:02] jungkees commented on #816
Sounds reasonable. I found the IDL spec issue for this: https://github.com/heycam/webidl/issues/71

[2016-01-20 08:09] jungkees commented on #806
I updated the OP with the list of V1 issues to discuss. Some of them may be easy ones that one can answer. If so, please give comments.

@annevk, here are two more issues that I want to discuss with you:
* https://github.com/slightlyoff/ServiceWorker/issues/811
  * A common definition for the _client_ concept seems needed for sw and fetch
  * Fetch may need a target client internal slot on a reque

[2016-01-20 08:38] tresdin opened #819 "Update service worker with a response object"
I'm thinking about the ability to update service worker with a `Response` object. It would give developers more control over service worker.
[code]

[2016-01-20 08:57] jakearchibald commented on #819
I don't think we want to allow this, as it would turn a small XSS into a pretty serious thing.

Same reason we don't allow data or blob URLs.

[2016-01-20 08:57] #819 closed

[2016-01-20 09:07] tresdin opened #820 "Save initial files into cache storage instead of browser's cache"
At this time, there is no way to save intial files which are fetched at the very first HTTP request into CacheStorage. I'm thinking about having a header that handles this issue.
[code]
Then developers can easily retrieve those files saved in cache storage on client side.
[code]

[2016-01-20 12:57] annevk commented on #811
@domenic should probably weigh in, but I think that any state should be stored on the document. The global is not a great place.

[2016-01-20 13:17] jungkees commented on #811
Then what do we do with workers? I don't think we're adding an unnecessary state. If that's still not desired, I guess at least we need a new _client_ definition that holds necessary info for fetch and sw. What was the reason that environment settings object's lifetime is tied to the entire browsing context lifetime by the way?

[2016-01-20 13:40] annevk commented on #811
For workers it's fine to use the global object. I'm not saying the state is unnecessary, I'm just saying to put it on documents when the global is Window, and on the global elsewhere.

(And the reason the Window global is so messed up, not sure. Largely history at this point. We should probably explain that a bit somewhere if we haven't already.)

[2016-01-20 23:24] mitar commented on #723
What if client is not available anymore when you do `Client.get(clientId)`? This is really bad regression for us. Because we were relying on `event.client.url`.

[2016-01-21 00:08] mitar commented on #723
Aaaa. And `Clients.get` is not yet implemented in Chrome. But they removed `event.client` in favor of `event.clientId`.

[2016-01-21 05:01] dstockwell commented on #723
@mitar sorry I'm not sure why github thinks my fork is authoritative and I don't work on ServiceWorker. That said, I think you're looking for https://code.google.com/p/chromium/issues/detail?id=552310

[2016-01-21 06:13] mitar commented on #723
Thanks!

[2016-01-21 14:00] annevk commented on #672
@jungkees could you perhaps give pointers to the sections in the specification that need review? That would help a lot.

[2016-01-21 14:34] jakearchibald commented on #814
Are you suggesting the SW shouldn't update after each navigate? If so, I disagree. If I shipped a SW that served broken pages, users would be stuck with it for 24 hours? We added the 24hr max-age limit because the longer the max-age, the more trouble you're getting yourself into.

If you're saying that we should perform an update after a fetch event if it's >24hr since an update, even if the fetch

[2016-01-21 14:44] jakearchibald commented on #813
We either prevent mixed content going into the cache, or need to provide a hook to show a mix warning on response, if the cache is returning a mix asset.

[2016-01-21 14:47] annevk commented on #813
The response has a URL that can be used for that, no?

[2016-01-21 14:47] jakearchibald commented on #808
@annevk are you suggesting `clients.get("not-a-real-id")` should returning a dummy client?

[2016-01-21 14:55] annevk commented on #808
I'm not really sure what the lifecycle should be, but it should not be directly tied to the other side. That won't work anyway due to it all possibly being separate processes.

I guess what I'm saying is that if we solve this differently from how `SharedWorker` addresses this (requires pinging, iirc), we're violating invariants that are deemed important.

[2016-01-21 14:56] jakearchibald commented on #800
I'm not following this.

Assuming the browser has an active worker that contains only `self.registration.update();`

1. SW spins up for whatever reason
1. Update triggered
1. SW fetched, and it's byte different! `self.registration.update(); // v2`
1. Installing worker spun up
1. Update triggered
1. SW fetched, byte-identical, ignored
1. Installing worker activates

Sure, you're going to get a fetc

[2016-01-21 15:30] jakearchibald commented on #788
I'm not against delaying the update a bit for performance reasons (or at least suggest it can be low priority), but I don't think it fixes the original issue.

Imagine:

* Functional event lands in SW
* More than 24hrs since update, so update triggered, updated SW found, becomes installing
* User navigates to in-scope page
* "updatefound" listener added
* Update triggered, SW is byte identical so

[2016-01-21 15:41] wanderview opened #821 "skip waiting flag purges active worker early"
In Install we have:

[code]

I don't understand why we need to exit the active worker at this point when Activate exits the worker immediately in its step 4.

This is an issue because Activate can be async (or is [always async depending how you treat the job logic][]).  That means we have a window here with no active worker which can then result in functional events not firing on a service worker

[2016-01-21 17:35] delapuente commented on #813
IMHO it should be allowed in the cache and we can use protocol part of the URL to say if its mixed content. We don't need the hook but simply to warn in the regular way.

[2016-01-21 17:48] annevk commented on #813
Anyway, the main problem is what @wanderview referred to above. What "passthrough request" means and how that works. I once tried to sort this through with @mikewest but we didn't really follow through unfortunately. Probably my fault.

[2016-01-21 17:52] delapuente commented on #813
But [passthrough request is a concept already defined](https://w3c.github.io/webappsec-mixed-content/#passthrough-request):

[2016-01-21 19:39] mikewest commented on #813
I thought we did follow through. If the MIX spec is incorrect, tell me and I'll fix it. I think it reflects what we discussed way back whenever we discussed this.

[2016-01-21 22:04] mappum opened #822 "Preventing server-forced updates"
I'd like to propose a change to the ServiceWorker spec that allows for applications which cannot be forced by the server to install updates.

### Background

Native applications have a significant security advantage over web applications: they control their own update lifecycles. New code is not loaded by default, so if there is no auto-update functionality built in, new versions are only used at

[2016-01-21 22:10] mappum commented on #822
BTW, it was a great idea by you guys to develop this spec on Github. :+1: This allows for a very open discussion. (I have never made any proposals like this to any sort of standards bodies before this).

[2016-01-22 03:44] wanderview commented on #814
Yea, this one.  All FetchEvents might trigger an update.  Navigations bypass the 24-hour check for starting the update (although http cache might still be in effect), while sub-resources only actually start the update if its >24 hours.

[2016-01-22 03:48] wanderview commented on #808
I'm not sure I agree.  I don't think its the same as SharedWorker.  SharedWorker is directly reference counted and cleaned up by GC.

A client (window) can be closed through user action.  As long as the client is deemed "gone" when the user action is performed, then we're not actually exposing GC behavior.

I guess it could be an issue for a client that is a worker, though, since again those have

[2016-01-22 03:51] wanderview commented on #800
This is missing the part about failing the install.  The script in question is more like:

[code]

AFAICT this will update continuously until the script is changed.  I don't think we should let update() function in a SW that has not reached the installed state.

[2016-01-22 03:58] wanderview commented on #788
I think that case is a race between two different operations.  I'm not sure devs would expect to duplicate those conditions often.

The update on navigate, though, is a very repeatable use case.

FWIW, in gecko we have implemented a 1 second delay after document load event.  For non-navigation events that trigger an update we fire them 1 second after the event.  One an update check is scheduled, a

[2016-01-22 04:05] wanderview commented on #813
How can this be persisted to Cache?  In most cases the window would be long gone.  So storing a passthrough request in Cache would strip is passthrough status.

But I guess it mostly doesn't matter if it can be persisted.  You can do cache.match(passthroughRequest) to return a cached response.  It will match the persisted request even though one is "passthrough" and the other is not.  The respondW

[2016-01-22 06:29] jungkees commented on #672
Ah.. I had to give this pointer: https://github.com/slightlyoff/ServiceWorker/commit/3d0ee145e27bcaf725ae3050759893c2daf3e363#commitcomment-14237642.

To sum, it'd be nice if you review whether this change makes sense:

* Before: a queued task (to the client's event loop) captures the window's state and create a WindowClient object **there** and resolves the returned promise **there**.
* After: a

[2016-01-22 06:53] mattto commented on #688
Implementor feedback from Chrome: if we continue to allow blob URLs in service workers, tieing the lifetime to the service worker (i.e., the execution context that created it, not the registration) sounds good. That's what Chrome does already.

[2016-01-22 07:09] mattto commented on #703
Chrome has changed this since the bug was filed. @horo-t can correct me if I'm wrong, but my understanding is now we disallow mixing ranged responses from different origins. Furthermore, this change didn't have much to do with service worker, except that we are sure to use the response URL, not the original request URL in case the SW did respondWith(fetch(some-other-origin)). Also, we don't allow

[2016-01-22 07:16] mattto commented on #718
Implementor feedback from Chrome: We don't really plan to implement disableFetch(). It's an irreversible change if devs start using it, and I think we're not yet convinced it's needed. We're OK taking the perf hit for now and remain hopeful that a non-observable optimization is possible.

[2016-01-22 07:20] mattto commented on #783
Just to reiterate before the F2F: I'm really happy if the spec is as simple as possible. The preemptive dooming of an installing worker was something the old Chrome implementation needed to prevent getting stuck forever. The same can be accomplished with a simple timeout.

[2016-01-22 07:23] jungkees commented on #800
@wanderview, I wonder if you considered this point?

So, I mean the job created by `self.registration.update()` will not be pushed to the queue.

[2016-01-22 08:05] horo-t commented on #703
We disallow mixing ranged responses from different origins.
But we allow mixing ranged responses from different origins when CORS is enabled.

See https://code.google.com/p/chromium/issues/detail?id=532569

We have layout test for this.
https://chromium.googlesource.com/chromium/src/+/master/third_party/WebKit/LayoutTests/http/tests/media/mixed-range-response.html
https://chromium.googlesource.com

[2016-01-22 08:07] mattto commented on #788
Chrome's implementation tries to schedule the updates after the worker stops:
- Schedule an update 1 second after page load for a navigation in a SW's scope.
- Whenever the active worker stops, if it hasn't attempted an update in 24 hours, and no update is scheduled, schedule an update.
- If the active worker has been running without stopping for 5 minutes, if hasn't attempted an update in 24 hour

[2016-01-22 09:11] delapuente commented on #813
Why do you need the window to be persisted? You only need it to decide it is `passthrough` or not. And you can not even serialize that a request is a passthrough request because this is something transitional, depending on initiator, window and client.

I think here, the procedure should be to act as if we were performing a `fetch()` from network, so `match()` will run the [_should fetching reques

[2016-01-22 09:27] mattto commented on #800
A note on Chrome's implementation: the comment in the Blink's test is misleading:
```// update() during the script evaluation should be ignored.```

Chrome actually can perform update() during initial script evaluation. It only ignores it if Get Newest Worker returns null. The comment means to say something like "update() from the installing worker of a new registration is rejected with InvalidSta

[2016-01-22 09:29] annevk commented on #813
@wanderview you are correct. It might be okay that the latter case fails because "passthrough" shouldn't work if there's no window, for instance. So maybe there is no problem here.

[2016-01-22 09:29] annevk commented on #813
@mikewest yeah, I guess I'm still unsure as to whether Fetch should have "passthrough" as a thing or not.

[2016-01-22 09:33] mattto commented on #814
Sounds good. How about postMessage, should that also trigger 24-hour-checked update? (Chrome does a 24-hour-checked Soft Update whenever the worker stops or has been running for a while, which I guess falls more into "The user agent may call this as often as it likes to check for updates." than the Handle Functional Event algorithm.)

[2016-01-22 10:23] jungkees commented on #821
Agreed. It should be removed. Actually those steps were there for now removed `InstallEvent.replace()` which was sort of `.skipWaiting()` + `.claim()`. Here's a bit of history why those steps were added: https://github.com/slightlyoff/ServiceWorker/issues/364

I'll remove them. Thanks for spotting this!

[2016-01-22 10:31] #821 closed

[2016-01-22 10:42] jungkees commented on #814
Alright. So we agree to invoking Soft Update for a subresource request when it's >24hr since an update. I'll add it.

I don't think a message event is a functional event. Devs already have `registration.update()` if they want to trigger update at certain point.

[2016-01-22 11:05] jungkees commented on #814
Addressed: 1413c06cc42156f58d06d6de2ca077f369169883

[2016-01-22 16:21] wanderview commented on #800
@jungkees Where does it do the aggregation now?  I seem to remember we only aggregate SoftUpdates, not explicit update() calls.  Also, I can't find the steps that do the aggregation since the change to a single job queue.

I'm not sure rejecting if newest worker is null is adequate.  The install algorithm sets .installing before executing Run Service Worker.  So .installing will be set at top leve

[2016-01-22 16:29] wanderview commented on #821
Gecko bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1241929

[2016-01-24 00:02] jakearchibald opened #823 "Cache transactions & fixing `addAll`"
## What we need to solve

`cache.put`, `cache.add` and `cache.allAll` have transaction-like properties that aren't well explained by the spec. Eg, what happens in this case?

[code]

Should the second cache abort the first? If so what happens to the `pa` promise? Should `pb` wait until `pa` settles? This is not currently defined.

`cache.add` and `cache.addAll` are atomic, but you cannot ensure re

[2016-01-24 00:06] jakearchibald commented on #823
@wanderview threw this together on a flight, let me know if it's unreadable and I'll see if I can repair it

[2016-01-24 00:35] wanderview commented on #823
Can you share some real world use cases where this extra complexity was needed?  Cache's simple API is an advantage over IDB, IMO.

[2016-01-24 00:38] jakearchibald commented on #823
Looking through the cache and deleting old items isn't a good enough example?

We also need to explain what happens if two puts (or addAlls) happen at the same time.

[2016-01-24 00:40] jakearchibald commented on #823
In terms of simplicity, this doesn't replace regular `cache.put` etc, you'd only use transactions if you needed them. But transactions explain how multiple-puts-at-once works.

[2016-01-24 00:40] wanderview commented on #823
I guess I'm more asking if this is something devs have asked for due to encountering the problem?  Or is it all theory?

[2016-01-24 00:48] wanderview commented on #823
"Squashing" would need to be defined.  Also, we reject addAll() in squashable cases today. Why change to support it?

[2016-01-24 00:50] jakearchibald commented on #823
People have asked for a way to look at the cache and decide what to delete. We don't support that safely right now.

[2016-01-24 00:51] wanderview commented on #823
I guess my first take is this is close to a rewrite for our cache impl to support this.  I don't want to do that unless it's a real problem for devs.

[2016-01-24 00:57] jakearchibald commented on #823
Yeah, I hand-waved through squashing, and of course it would need to be defined. I'd be happy to reject if there are competing puts within a single transaction, but delete(request) put(request, response) should safely squash to just the put.

I hand-waved through that as I didn't think it was make or break for the general idea. I can flesh that bit out if it is.

[2016-01-24 00:59] jakearchibald commented on #823
Can we explain what happens with multiple overlapping addAlls & puts in a simpler way? What does gecko currently do?

[2016-01-24 01:07] wanderview commented on #823
Can you explain the safety issue with this?  For example, this seems somewhat safe today to me:

[code]

I agree this could have issues with many threads reading and writing, but right now we mainly have one thread; the service worker.

[2016-01-24 01:10] wanderview commented on #823
What gecko does is very simple:

* Every put() writes the corresponding body to a disk temp file.  When the file is complete its committed into the backing sqlite database.  Any old, overwritten records are removed at this point.  Multiple overlapping put()s will result in the last put() winning.
* For addAll() we write the bodies for all responses to disk temp files.  When all of the temp files a

[2016-01-24 01:11] jakearchibald commented on #823
By the time you get to the .delete(request), the response that gets deleted may not be the response you decided was too old. Another may have add in the meantime time.

[2016-01-24 01:14] wanderview commented on #823
So we have responses of wildly varying size being stored under the same request?  What kind of html resources have this characteristic? I'm probably wrong, but it seems to me resources are mostly stable in size over the short term.

Also, they could use a vary header to avoid this situation, no?

[2016-01-24 01:14] jakearchibald commented on #823
Does this mean:

[code]

…response1 may overwrite response2 even though it was `.put` afterwards?

[2016-01-24 01:15] wanderview commented on #823
Yes, if response1 has a larger or slower body stream.

[2016-01-24 01:19] wanderview commented on #823
Does your proposal allow multiple overlapping transactions?  I don't see anything that would block that.

[2016-01-24 01:28] wanderview commented on #823
Oh, I see Request Transactions now.  Does each transaction wait for any previous transactions affecting the given request(s) to complete before starting?

[2016-01-24 01:28] jakearchibald commented on #823
I'm not following this, but I'm pretty jetlagged right now (hence all the spelling and grammar mistakes - more than usual). Taking your example, but making it about age, not size:

[code]

When we `cache.match(requests[0])`, many writes may have happened by the time we get to `cache.delete(requests[0])`, so I may be deleting a response other than the one that `isTooOld(response)`.

[2016-01-24 01:30] wanderview commented on #823
I guess that makes sense.

If transaction wait for one another, and body streams can be js controlled in the future, do you worry about deadlocks?

[2016-01-24 01:31] jakearchibald commented on #823
Yeah, that's 5.i.a of **Request transaction**. The "wait" is a bit hand-wavey, but the intent is that `.transaction` doesn't resolve until other transactions that operate on one or more of the same requests settle.

[2016-01-24 01:33] wanderview commented on #823
If a transaction fails, are all operations rolled back to the previous state?  Maybe I was assuming that as I can't find it in your proposal now.  But I'm obviously having trouble reading tonight.

[2016-01-24 01:36] jakearchibald commented on #823
What would you do to cause a deadlock this way? Deadlocking shouldn't be easy.

There's also:

[code]

…which would deadlock. That's one of the reasons I put `.transaction` on `caches` rather than `cache`, to make look odd to use a `cache` in a `cacheTransaction`'s `waitUntil`.

[2016-01-24 01:37] wanderview commented on #823
Start a put(), then lazy .match() a response to fill in the body for the response being putted.  So a cache copy essentially.

[2016-01-24 01:38] jakearchibald commented on #823
Hand-waved in **Batch Cache Operations**. Sorry, my laptop battery was running out when I got to this bit so it's a bit brief. We already handle `put` reverting, but yeah would need to handle `delete` too.

[2016-01-24 01:40] wanderview commented on #823
This is a bit harder, but doable I guess.

I will look more at the proposal before our meeting on Tuesday.  I have to run now.

[2016-01-24 01:42] jakearchibald commented on #823
I'm hoping squashing can always turn interleaved `put`s and `delete`s into a series of `put`s, then `delete`s. If all the `put`s succeed, then you're just left with the deletes… what could cause a delete to fail?

[2016-01-24 02:26] wanderview commented on #823
I think this depends on if we allow put(), match(), delete() within a transaction.  If you can interleave reads and writes, then you cannot safely reorder writes.

Also keep in mind we have the rules about match()+delete() leaving the Response returned from the match() as a functioning object.  Any body file storage needs to exist until the Response is gc'd.  How does this work with a match() with

[2016-01-25 09:27] andreapernici opened #824 "Browser Cache and ServiceWorker"
I've implemented ServiceWorker cache on one of my website combined with expire headers for static resources so JS included.

Now I have a strange behaviour. It looks impossible to invalidate the cache on the user browser.

It is related to the ServiceWorker or to the Long Lasting expire headers.

Using CTRL+F5 works only on the first refresh. If I reopen the page it looks like the previous version

[2016-01-25 10:28] petkaantonov commented on #824
ServiceWorker isn't for traditional caching exactly but for making your app work offline. For offline case you need to version your service worker with your assets like in this tutorial http://www.html5rocks.com/en/tutorials/service-worker/introduction/.

Then when your app updates, you just bump the version which forces a service worker update and a new install. In the new install you add new ass

[2016-01-25 10:35] petkaantonov commented on #824
Also, for development I'd have an `if` inside the worker to not do any caching while in development.

[2016-01-25 18:44] jungkees commented on #800
The single job queue change made all the [equivalent](https://slightlyoff.github.io/ServiceWorker/spec/service_worker/#dfn-job-equivalent) jobs (i.e. jobs from register(), update(), Soft Update) be aggregated in the Schedule Job algorithm step 2.2.

[2016-01-25 18:55] jungkees commented on #783
I think the only case we should consider before removing it is the job with the same scope and a different script url wanting to preempt.

[2016-01-25 23:35] jakearchibald commented on #822
I can't quite get my dead around the use cases.

How does the current update model prevent this?

SW scripts are same-origin for security reasons. When you're adding thigns to the cache you can already verify integrity, although CSP is a better mechanism for this.

[2016-01-26 01:37] KenjiBaheux commented on #685
@jungkees I lost track of this feature. Was there any other relevant discussion or pushback?

We are discussing with partners and for some a header based SW installation is a must have (e.g. Google Fonts: no a destination website, integration point == <link rel=stylesheet...>)

[2016-01-26 01:53] jungkees commented on #685
I think it has just not been discussed for a while. I added this issue to the f2f agenda. If there's not enough time to cover this, I'll at least share it with the attendees so we can follow up on the discussion.

[2016-01-26 02:27] mappum commented on #822
Imagine we have created a PGP app to encrypt messages, and we serve it at https://mypgpapp.com. It generates private keys and stores them in IndexedDB, then lets the user encrypt messages with those keys so they can copy their encrypted messages to send via email.

So far, our security is pretty good. Since we used HTTPS, we can be reasonably sure the user won't load a backdoored script from some

[2016-01-26 17:54] jakearchibald commented on #813
F2F resolution: We should allow passthrough of MIX content and adding to the cache.

We should look at persisting MIX warnings until storage is cleared.

[2016-01-26 17:58] jakearchibald commented on #808
F2F resolution: Pages are different as removing it is user-explicit action. On navigation/close the client should not be gettable (even if it's in the back/fwd cache).

[2016-01-26 18:10] jakearchibald commented on #800
F2F resolution: @wanderview to review and see if no longer an issue.

[2016-01-26 18:33] jakearchibald commented on #788
F2F resolution: Add a note to the spec to suggest delaying triggering an update until after "DOMContentLoaded" of the associated page. If it's a worker, don't update until the after the worker script has run.

[2016-01-26 19:42] jakearchibald commented on #787
F2F: Ask developers via a blog post. & see if we can safely make this change anyway. Showing both CSS & document and asking where links & background images would go. Send it around the group before publishing.

[2016-01-26 19:45] jakearchibald commented on #783
F2F resolution: Single job queue may fix this. @wanderview to review.

[2016-01-26 19:51] slightlyoff commented on #787
From the F2F discussion I'd like to capture a few options:

 - regardless of which way we decide this, we can extend `Request`s from pages with extra content about the base URL, which would allow a SW to handle these sub requests however it likes
 - we can do this for both CSS and main-document-generated fetches, allowing us to more easily adopt a single policy for both (which I know @ehsan favors

[2016-01-26 19:51] jakearchibald commented on #771
F2F resolution: Agreement. Needs specifying.

[2016-01-26 21:31] jakearchibald commented on #737
F2F resolution: `cache.match(request)` should reject if the redirect mode is manual and the matched response had a redirect.

[2016-01-26 21:45] jakearchibald commented on #728
F2F resolution: `startMessages` it is.

[2016-01-26 21:53] jakearchibald commented on #718
F2F resolution: We're going to observe `addEventListener` and optimise based on that.

`addEventListener` should throw if it's called after the initial execution of the script.

[2016-01-26 22:24] jakearchibald commented on #704
This should be solved by http://w3c.github.io/webappsec-clear-site-data/ - servers should return this on too much cookies.

[2016-01-26 22:24] #704 closed

[2016-01-26 22:39] jakearchibald commented on #703
F2F:

`cache.put` should prevent adding 206 responses.

* HTTP spec says a server can respond 200 in responses to a ranged request
* Do browsers allow this? If not, file bugs
* If browsers unprepared to fix, change `cache.match` to help

[2016-01-26 23:45] jakearchibald commented on #685
F2F:

Header: `Link: </sw.js>; rel=serviceworker; scope=/`
But also element: `<link rel="serviceworker" scope="/" href="/sw.js">`

[2016-01-27 01:02] jakearchibald commented on #823
F2F: change `addAll` and `add` now, while it's safe. For v1.

We should work towards under-the-hood transactions to prevent races on writes.

Transaction API v2.

[2016-01-27 01:10] jakearchibald commented on #688
F2F resolution: remove `createObjectURL`

[2016-01-27 16:19] ehsan commented on #685
Gecko bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1243404

[2016-01-27 16:54] jakearchibald opened #825 "Installing a foreign SW as part of a subresource request"
Site A has an endpoint that takes an image and compresses it. This could run in a SW and use foreign-fetch to make it available offline to others.

However, if site B tries to use this service, there's no way for it to ensure A's service worker is installed.

Ideally it'd fallback to A's server, but that won't work offline.

Site B, could poll site A, waiting for a serviceworker response rather th

[2016-01-27 17:01] mkruisselbrink commented on #825
I think eventually we might want something like swOnly and/or skipForeignSW, but I think for an initial version of foreign fetch we don't need either of these flags.

[2016-01-27 17:02] jakearchibald opened #826 "Should foreign fetch work same-origin?"
If I register a SW with scope `/`, let it install, and activate, but *do not refresh* so my page remains uncontrolled, will a subresource request for `/foo` go through the foreign fetch handler of the new worker?

What if I shift-reload the page to avoid this page being controlled?

[2016-01-27 18:23] mkruisselbrink commented on #826
That's an interesting question. Fetches from that SW should definitely not go through its own foreign fetch handler, so at some point we'd need to somewhat special case same origin foreign fetch. I'm not sure about request from same origin uncontrolled pages (or even same origin but distinct service workers). I think there is pretty much three options:

1. same origin requests from (uncontrolled)

[2016-01-27 18:28] jakearchibald commented on #826
I guess it comes down to how distinctly we'd want to consider distinct apps that exist on the same origin. Eg github pages, and well, Google.com

[2016-01-27 19:15] annevk commented on #826
Ah, more joyous fallout from `scope`. I think we should only consider it for cross-origin. If you want multiple apps on an origin and enable foreign fetch, use some future technology such as suborigins.

[2016-01-27 19:30] annevk commented on #672
It seems e.g., `matchAll()` still invokes the `Request` constructor from a section that runs in parallel. That is a little odd, because e.g., it means the promise is not guaranteed to reject at the end of the current task, which is what you'd expect.

I would expect methods to do that kind of setup work first, before returning and running some steps in parallel for lookup.

[2016-01-27 19:33] annevk commented on #787
Throughout the platform we consistently use the URL from the response as the base URL, even though we might use the (potentially different) request URL for some other purpose. Since that is currently an invariant we consistently offer, I think we should continue to do so by default. We could perhaps offer further overrides, but I'm not entirely swayed it's needed.

[2016-01-27 19:37] annevk commented on #825
Yeah I definitely want to give more control to `fetch()` over what service workers get hit, but we should probably wait a bit until things are deployed and folks come asking for us to iterate. Baby steps.

[2016-01-27 20:07] annevk commented on #737
To be clear, the resolution was to fix both of those in Fetch.

[2016-01-27 20:41] annevk commented on #737
Having said that, the Cache API needs to be updated to store response's url list to make this work. So that does need to be updated as part of this.

[2016-01-28 04:07] mattto commented on #718
Cool! Just to make sure, initial execution of the script refers to the very first time the SW runs (before it's installed) or every time the SW is run?

The current spec seems to observe event types every time in Run Service Worker, which wouldn't allow for this optimization. We want to persist a bit on the installed script indicating whether there's a fetch event handler. So next time you go to t

[2016-01-28 04:40] mkruisselbrink commented on #718
For the optimization initial execution indeed means to record which event listeners have been registered for at the end of the very first time the SW runs.

Furthermore every time the SW runs, after its initial execution has completed (for that run) addEventListener on the global scope should throw (but the list of event listeners is not updated after the first initial execution).

[2016-01-28 16:45] wanderview commented on #825
I don't think site B can ever rely on site A's service worker being present.  Site A's storage could be revoked after site B thinks its gotten the SW installed.

[2016-01-28 16:47] wanderview commented on #737
I think the spec does this already, but it wasn't previously exposed to script in any way.  So the URL list or equivalent needs to be added to implementations.

[2016-01-28 23:06] mkruisselbrink commented on #685
@annevk How would I go about actually spec-ing this?

The `<link rel=` part is probably relatively straight forward. Similar to how specs like the web app manifest specified a new link type, we can do the same in the service worker spec for the new serviceworker link type. Although I'm not sure how we'd add the new 'scope' attribute to the link tag without changing the HTML spec directly?

But wha

[2016-01-29 02:00] KenjiBaheux commented on #685
Perhaps, following how it's done for preload would work?
http://w3c.github.io/preload/
cc/ @igrigorik

[2016-01-29 02:07] KenjiBaheux commented on #685
Blink bug: https://code.google.com/p/chromium/issues/detail?id=582310

[2016-01-29 02:08] mkruisselbrink commented on #685
Ah yes, thanks. I must have not been searching for the right things. That looks helpful for inspiration.

[2016-01-29 02:21] annevk commented on #685
The header is defined in https://tools.ietf.org/html/rfc5988. And yes, we'd have to modify the HTML standard to properly define the element.

[2016-01-29 03:33] #814 closed

[2016-01-29 03:48] jungkees commented on #808
The OP problem has been addressed as stated in the previous comment.

We'll follow up on this one in https://github.com/slightlyoff/ServiceWorker/issues/811

Closing.

[2016-01-29 03:48] #808 closed

[2016-01-29 10:23] jungkees commented on #688
@annevk Is it better to make `URL.createObjectURL(blob)`, `URL.createFor(blob)` and `URL.revokeObjectURL(url)` explicitly throw in File API spec?

[2016-01-29 12:13] jungkees commented on #718
Relevant changes for this and enforcing the early return to all the functional events have been addressed: b80ba58acf5dc4963f6e723734524604005a778c

I'll make a PR to DOM spec for this.

[2016-01-29 14:21] annevk commented on #688
@jungkees no, I would get the File API specification to use `[Exposed=]` similar to how XMLHttpRequest does that for e.g., `responseXML`, to hide these from service workers.

[2016-01-29 15:29] wanderview opened #827 "clarify Request.isReload for sub-resources"
Current the spec text for .isReload is a bit vague.  Step 18.4 of Handle Fetch says:

Obviously a lot of hand waving in "user's intention" here.

Both chrome and firefox only set this for the top level navigation that is triggered from a refresh.  All sub-resources get .isReload=false.

Over in this chrome issue devs are asking that to change:

  https://code.google.com/p/chromium/issues/detail?id

[2016-01-29 17:27] mitar commented on #827
I agree, 1) or 2) would be great. My main view here is that user reload the whole page, not just the HTML content. So they would expect that the all resources on that page (can) react to the reload (in a special way).

[2016-02-01 16:35] wanderview commented on #823
Gecko bug for the add/addAll change:  https://bugzilla.mozilla.org/show_bug.cgi?id=1244764

I plan to get this shipped ASAP in either FF45 or FF46.

[2016-02-02 02:52] Tier3Software commented on #745
@ManuelB I fully acknowledge and accept your business requirements and use case.

Here is a similar one for you. I have students on Campus who want to see who from their coffee-club or study-group is on Campus. If there waiting for someone they want to receive a notification when the arrive. GeoLocation.watchPosition must be empowered to re-instantiate a SW that has been terminated.

The SW will i

[2016-02-02 19:31] inexorabletash commented on #823
Blink tracking bug: https://crbug.com/583407

[2016-02-03 02:51] marcoscaceres commented on #745
@ManuelB I think what you want is the [Wake Lock API](https://w3c.github.io/wake-lock/)... but with some additions we are yet to add to the spec: you could set a "CPU lock", which would keep the page alive, but would allow the screen to sleep (and maybe generate notifications as needed). Alternatively, you could keep the screen lock on - and just let the app run.

[2016-02-03 03:23] Tier3Software commented on #745
@marcoscaceres I think you are being too end-user/device centric. I'll wager 3 sheep-stations and an oil-rig that Manuel's harvester drivers don't look at the phone from one field to the next yet the Farmer wants to be able to load the page at anytime and see a real-time feed of where his harvesters are and if one is heading home while Fred still has half a field to head then he'll ring him up and

[2016-02-03 03:36] Tier3Software commented on #745
@ManuelB Please be aware that, according to Mark (in the following Chrome bug report) Firefox, the Android Browser, Opera, and Safari already implement something akin to the CPU lock that Marco discusses: -
https://code.google.com/p/chromium/issues/detail?id=506435[](url)

I haven't tested Mark's claims which seem to be a complete alternative to Service Workers but FYI.

[2016-02-03 08:36] ManuelB commented on #745
@marcoscaceres  Thanks a lot I will look into it and report my findings.

[2016-02-03 18:35] inexorabletash commented on #823
Blink change landed; will appear in M50 (April-ish release) unless disaster occurs.

[2016-02-04 07:24] #788 closed

[2016-02-05 19:31] mkruisselbrink opened #829 "Resolve Job Promise can resolve jobs with an incorrect value"
Currently the Resolve Job Promise algorithm resolves all equivalent jobs with the same value, I don't think this is correct. For example multiple equivalent register jobs should possibly be resolved with distinct `ServiceWorkerRegistration` instances (if they were called from different javascript contexts). But maybe more importantly, two equivalent jobs can have different `client` properties; thi

[2016-02-05 19:41] wanderview commented on #829
Where does ServiceWorkerRegistration have an associated client?  I don't see that in the spec.

[2016-02-05 19:50] mkruisselbrink commented on #829
https://slightlyoff.github.io/ServiceWorker/spec/service_worker_1/#dfn-service-worker-registration-interface-client

[2016-02-05 19:59] wanderview commented on #829
Oh, I see.  I'm probably missing something, but it seems thats not really needed.  The .installing/waiting/active getters could get the service worker client from the current context's service worker client.

[2016-02-05 20:04] mkruisselbrink commented on #829
I'm not even sure what `ServiceWorker` needs an associated service worker client for. It's `postMessage` method doesn't even use the associated client but looks it up from the incumbent settings object instead, and I can't see anywhere else it is used either. So yes, removing the associated client from `ServiceWorker` and `ServiceWorkerRegistration` is probably the sanest solution, unless we're bo

[2016-02-08 10:21] #806 closed

[2016-02-09 00:41] RichardMaher commented on #745
I found this a useful layman's reference for hardware support of geofencing: -
http://gpsworld.com/putting-the-ultra-low-power-in-geofence/

Explains a lot to me especially about power consumption,

I maintain that the SW architecture, in combination with any Android support for position batching, that subsequently offloads geo-fence processing to a central server in order to determine alarm/other

[2016-02-09 01:10] mkruisselbrink commented on #489
Is the only thing stopping us from moving to bikeshed that nobody has volunteered yet to put in the work needed to do so? Or are there particular reasons why we might want to delay moving to bikeshed. If the consensus is that yes, we should move to bikeshed, I'd be happy to volunteer to do so (I've converted two other specs to bikeshed, so I've some idea what I'm signing up for, although those wer

[2016-02-09 07:07] tabatkins commented on #489
You can *if* you do a `<dfn>` for the construct outside of the `<pre class=idl>`.  Then Bikeshed will just link the IDL to your dfn.  This is common practice for methods and attributes, so their anchors are actually close to their prose definitions.

If you've been using the "WHATWG style" for IDL IDs (dom-foo-bar for the Foo.bar attribute, etc), Bikeshed does that by default, so the IDs will rema

[2016-02-09 07:09] tabatkins commented on #489
Note that Bikeshed does not currently have dfn.js built in.  You can just link it in yourself for now, I'm just noting that moving to Bikeshed will not actually solve the problem this issue was opened for. ^_^

(I'll be working on Bikeshed all this month, and I think dfn.js support is on my issues list, so maybe I'll fix it anyway, and you *can* close this issue just by porting.)

[2016-02-09 14:46] delapuente opened #830 "Take into accounts etags on initialization importScripts responses to update the Service Worker"
For developers, composition of diverse service worker functionality can be done via `importScripts()`. The problem with this approach is that is needed to byte-alter the sw in order to get it updated. If not, imported scripts could change but the main file could remain the same. Traditional solutions forces the developer to manually add some kind of change in the sw file but the specification coul

[2016-02-09 19:28] mkruisselbrink commented on #489
Ah, good point. Not sure why it never occurred to me to specify explicit ids for such dfn's. I guess because unlike for every other dfn bikeshed doesn't complain about having to auto-generate ids for them... I guess that just leaves the question if we want to use the auto-generated "whatwg style" ids or keep using the currently used explicit ones. Probably keeping IDs stable is a good idea in that

[2016-02-10 09:07] martinthomson commented on #745
I hate to make this a point of jurisdiction, but I think that this is a discussion that needs to be had in the geolocation working group.  Thanks to @RichardMaher for bringing it to their (and my) attention.

This is a topic that has come up in the past and I think that I myself proposed that a single request for location was a fine thing.  We did discuss the subject at some length.

I'm very nerv

[2016-02-10 23:00] RichardMaher commented on #745
@martinthomson

I've been careful to avoid any demarcation issues by always involving the Service Worker AND GeoLocation communities. My lobbying has centered on: -

Forums:
[https://github.com/slightlyoff/ServiceWorker/issues/745](url)
[https://github.com/w3c/geofencing-api/issues/25](url)

Mailing Lists:
public-webapps@w3.org
public-geolocation@w3.org

If there are better forums then please let

[2016-02-10 23:12] mkruisselbrink commented on #745
@RichardMaher I totally agree with @martinthomson that none of this is really a service worker issue. All of what you describe is about features build on top of service workers, so the geolocation working group would most definitely be the correct location to actually pursue this.

Having said that, what you describe does sound very similar to parts of the API I sketched in https://github.com/slig

[2016-02-11 10:24] martinthomson commented on #745
I think that @RichardMaher forgets that sometimes browsers have to deal with sites that act poorly.  Tracking the user in the background is highly likely to be a case of a site acting poorly.  I want to ensure that the user remains in control; and I don't believe that asking users for permission is sufficient to that end for some types of features.  This is one of them.

[2016-02-12 01:12] jungkees commented on #489
Having discussed with @slightlyoff, we agree to this conversion if bikeshed adds value in the way we collaborate and some convenience to the readers.

@mkruisselbrink, @slightlyoff added you as a collaboration in the repo. Please help us!

[2016-02-12 01:36] wanderview commented on #489
If this removes the dynamic content/style updates, then it would make the spec easier for me to use.  Right now the scroll positions all change after navigating to a section anchor directly.  Very annoying.

[2016-02-12 02:32] jungkees commented on #718
Closed by https://github.com/slightlyoff/ServiceWorker/commit/b80ba58acf5dc4963f6e723734524604005a778c and https://github.com/whatwg/dom/pull/155

[2016-02-12 02:32] #718 closed

[2016-02-12 03:07] RichardMaher commented on #745
Look I %100 acknowledge the problem(s) @martinthomson  highlights, and the need to prevent abuse from the black hats. All I’m saying is let’s work the problem rather than simply rocking in the foetal position, or worse, concocting artificial and exaggerated speed-humps on the release path of much needed functionality.

On the plus side: -

1)	User permission must be explicitly granted before GPS i

[2016-02-12 05:09] RichardMaher commented on #745
@joemarini

Exactly Joe! But can I ask why you have devolved the "am I in danger" geofence logic to the client? Why send them a message if you know (or should know) that it does not concern them?

Weather is transitory and localized. If you follow my and @mkruisselbrink 's recommendations then the server will know exactly who is in/out of the danger zone and therefore needs to be PUSHed.

Please a

[2016-02-12 19:33] domenic opened #831 "Support module service workers, and update for ES6"
See https://github.com/whatwg/html/pull/608 which is now merged.

The essential work items are, I think:

- Add `WorkerType type = "classic";` to RegistrationOptions
- Updated https://github.com/slightlyoff/ServiceWorker/pull/828 to include a `type` parameter (@mkruisselbrink)
- Update the registration process to more closely parallel [run a worker](https://html.spec.whatwg.org/#run-a-worker) and

[2016-02-12 22:29] mkruisselbrink opened #832 ""javascript global environment" and related terms were removed from HTML"
whatwg/html@cf0355d7e0e229b98f7fbd51b8c7608010c787f5 removed definitions of "document environment", "worker environment" and "javascript global environment", which this spec still links to.

@domenic Not sure what best to replace them with (but maybe fixing #831 is partly related to this?)

[2016-02-12 22:33] domenic opened #833 "{Dedicated,Shared}WorkerGlobalObject do not exist; s/Object/Scope"
Noticed this typo (?) while perusing other stuff.

[2016-02-12 22:36] mkruisselbrink opened #834 "html no longer defines "referrer source""
@annevk removed the definition of "referrer source" in whatwg/html@7c5555a16f2920c02244c10756bb2f1a11e87a22 , but this spec still links to that (in Run Service Worker and the importScripts definition). This should somehow be fixed.

[2016-02-12 22:37] domenic commented on #832
Let's see...

This can just be "A service worker client is a type of environment settings object".

Yeah, this is related to #831 and the updates described therein.

These could just be "documents and workers", without even linking anywhere.

Not really sure what "represents" is supposed to mean here, so unclear what this should be changed to.

This can just be deleted.

[2016-02-12 22:45] domenic commented on #834
It looks to me like this is solvable by removing the reference to "referrer source" in the definition of the settings object (in Run Service Worker), then in importScripts saying "with [referrer](https://fetch.spec.whatwg.org/#concept-request-referrer) set to _settings object_'s API base URL."

[2016-02-13 06:47] annevk commented on #834
If referrer matches the client you passes to Fetch, you don't have to set it at all. Referrer is never the base URL by the way (unless it happens to match the URL of the resource).

[2016-02-15 10:55] jakearchibald commented on #787
Summary from https://jakearchibald.com/2016/service-workers-and-base-uris/:

[[1](https://jakearchibald.com/2016/service-workers-and-base-uris/#comment-2505916613)] - `event.respondWith(fetch(event.request))` should preserve regular browser behaviour. Base url should come from the request url. (This is contradictory, the impression is you'd use redirects to set the base url, which doesn't really w

[2016-02-15 11:05] jakearchibald commented on #787
Unfortunately I don't think the answers were particularly useful, there's a lot of confusion around when `fetch()` would return a redirect and when it wouldn't.

Some developers are happy for the SW to act like a server, where it'd swallow redirect or deliberately serve redirects, but this can't work due to the security stuff around opaque redirects.

Despite some developers being happy with `even

[2016-02-15 12:27] annevk commented on #787
I don't think we should allow setting response.url. We want that to be reliable for security checks. Responses could have a baseURL field perhaps, but I'd prefer we introduce that at the moment we identify a need.

[2016-02-15 15:24] wanderview commented on #787
Having a convenience method to convert a response to a synthetic response would allow someone to opt in to the request url.  Something like `response.asSyntheticResponse()`.

Of course, that would not work for opaque responses, though.

[2016-02-15 15:34] annevk commented on #787
Opaque responses are another good reason to not let the service worker change the base URL.

[2016-02-16 01:22] RichardMaher commented on #745
What's Mozilla doing? Floundering :-( Please see:
https://bugzilla.mozilla.org/show_bug.cgi?id=1216148
https://bugzilla.mozilla.org/show_bug.cgi?id=784505

*Please* put your WAKE_LOCK sledge-hammers away - all of you!

BTW. An additional piece of ServiceWorker GeoLocation governance, on Chrome at least, is that the gcm_sender_id/procet_id can be revoke for sites behaving badly.

[2016-02-16 07:09] jungkees commented on #831
Yes, I think the items you pointed would cover most of them. For SW, fetching a module script should be done in Update algorithm where the actual service worker script fetch occurs. I'll work on it and ask help where changes in the hooks are needed.

@mkruisselbrink I'll update the current text and try to merge the changes when the bikeshed conversion is completed. If you have a better plan, let m

[2016-02-17 03:43] RichardMaher commented on #745
Solution Addendum (Sorry)

Other Options: -
4) When the device goes to sleep when a Web App is still watching GPS, or simply backgrounds or minimizes a device-tracker, it should make a sound and or vibrate as a non-visual cue that tracking is ongoing?
5) When a device is reawakened or a device-tracking app is brought back to the foreground, then a notification must be sent to the user "This App co

[2016-02-17 11:19] jungkees commented on #831
Working on this in worker-module branch: 9ddeabc4ff13c57078542f2c76c21e4e2c55ce16

Run Service Worker update is mostly done. Fetching scripts depending on the worker type is not done yet.

[2016-02-17 22:32] mkruisselbrink commented on #833
This got fixed in the bikeshed conversion.

[2016-02-17 22:32] #833 closed

[2016-02-18 01:31] wanderview commented on #823
Gecko change landed.  I uplifted it to FF46 so that we will also release the change in April.

[2016-02-18 18:12] slightlyoff commented on #817
I think we can just pre-emptively add a `clientId` in the case of a navigation instead of a new property. If a Client is created, you'll be able to get it from the clients list. If not, we just won't have a matching client at some later point. This seems entirely normal to me.

Objections?

[2016-02-18 18:15] jakearchibald commented on #817
I still don't think reusing `clientId` is a good idea https://github.com/slightlyoff/ServiceWorker/issues/808#issuecomment-169625196

[2016-02-18 19:55] delapuente opened #836 "Allow respondWith() to be called asynchronously or allow some way to cancel the response."
Following the app shell architecture, we are providing WordPress Plugins able to cache content and shell separately. For them to collaborate we are providing an infrastructure that combine multiple service workers files which leads to the situation when having several fetch event handlers is possible.

Actually, one the handlers has this form:
[code]

But if I want to give the opportunity to other

[2016-02-18 22:33] mkruisselbrink commented on #836
In #771 we agreed that it should be possible to call `waitUntil` asynchronously, but I think so far the plan was to still require `respondWith` to be called asynchronous. I personally think that your use case sounds pretty reasonable though. Of course allowing `respondWith` to be called asynchronously (but still only once, and only while there are still unresolved `waitUntil` promises) could poten

[2016-02-19 00:45] slightlyoff commented on #817
I don't understand this concern. Clients can disappear at any time. That's just life in a multi-process world.

That said, if instead we had a promise-returning getter that handed you the client (or null if none) in this case, that'd work for me too (both in this case and in the general client fetch scenario). I don't have any sympathy whatsoever for @annevk's arguments abut GC. GC isn't observabl

[2016-02-19 00:58] slightlyoff commented on #831
I think I've got some concerns with the general design of @domenic's module workers proposal. I guess we can push the "type" thing through in a bunch of places as a one-off, but I'd like to have @mkruisselbrink's view on how this will work with header-based registration for foreign fetch.

[2016-02-19 01:51] RichardMaher commented on #745
GPS Tracking Use Cases: -

* Can I beseech the browser-developer community at large to please contribute their own use cases to this thread?

1) University security have just been told there's a shooter on campus. They touch the google maps screen and tell the system to warn everyone in a 2km radius to get out or get down. The geoFence has only just been created. Pushing the details to the client

[2016-02-19 09:42] jakearchibald commented on #817
Right, but `clients.get(fetchEvent.clientId)` currently returns null when the client no longer exists. This means I can remove any book-keeping data in idb relating to that client.

The change you're suggesting means `clients.get(fetchEvent.clientId)` returns null when the client no longer exists, may never exist, or may exist at some point in the future, or may point to a client we can't expose (

[2016-02-19 15:44] annevk commented on #831
`Link: <sw.js>; rel=serviceworker; type=module`?

[2016-02-19 15:49] annevk commented on #836
You can do this already by passing a promise to respondWith that you later resolve, no? The reason this works this way is the event model. If you don't reply to the event, we'll go to the network.

[2016-02-19 15:52] domenic commented on #831
It seems exactly the same as scope.

[2016-02-19 17:55] mkruisselbrink commented on #836
@annevk not if you have multiple fetch event listeners. I agree that in most cases it should be possible for a fetch event listener to synchronously decide whether to call respondWith (and claim the event) or not call it (and let other event listeners have a go at it), but it might not in all cases.
But thinking about it more, I don't actually think that allowing respondWith to be called asynchron

[2016-02-19 18:00] domenic commented on #836
It seems like a better solution to the OP's use case is for them to provide a middleware framework, so that there's still only one fetch listener, but they have control over exactly how that listener delegates to various middleware in the chain. See e.g. http://expressjs.com/en/guide/using-middleware.html which shows how a popular server-side framework manages to leverage Node.js's single request-

[2016-02-19 18:04] mkruisselbrink commented on #831
That mostly seems okay, except that both the Link header and the `<link>` element already have a type attribute, which must be a mimetype. So we probably shouldn't call this `type` in the header/element. Not sure what to name this instead, but I'm sure we can come up with something sensible.

[2016-02-19 18:10] domenic commented on #831
@mkruisselbrink for `<script>` we redefined `type` to not be a mimetype. Not sure if that's an option here.

[2016-02-19 18:16] delapuente commented on #836
@domenic, actually, @arcturus and I at Firefox OS, maintain [ServiceWorkerWare](https://github.com/gaia-components/serviceworkerware/) which is just that.

But this was more about allowing collaboration as a low-level feature.

[2016-02-19 18:41] mkruisselbrink commented on #831
@domenic I don't see any technical reason why we couldn't do the same with type for link elements and headers. Just no idea how hard it would be to actually update rfc5988 to make that change for headers.

[2016-02-19 18:41] mkruisselbrink commented on #831
Any reason module scripts aren't just a different mime-type from regular javascript though?

[2016-02-19 18:44] domenic commented on #831
It doesn't really buy us anything, and requires everyone to change their server configurations and MIME type detection libraries (which impacts a lot more than just browsers). All downside, no upside.

[2016-02-19 19:53] slightlyoff commented on #489
@mkruisselbrink has converted the spec to Bikeshed. Closing.

[2016-02-19 19:59] mkruisselbrink commented on #489
Closing might be premature until tabatkins/bikeshed#469 is resolved and bikeshed actually includes dfn.js?

[2016-02-19 20:28] delapuente commented on #836
@mkruisselbrink you're right. Perhaps the solution of cancelling the `respondWith()` by using a special response could do the trick if we block threads at `respondWith()` call:

[code]
When respond's promise is resolved with a non `cancelRespond()` result, all other enqueued `respondWith()` throw:
[code]

[2016-02-19 20:55] mkruisselbrink commented on #836
I'm beginning to agree with @domenic that this particular use case really should just be handled by a middleware layer rather than trying to somehow provide APIs that allow this. Blocking respondWith would be really weird (and it couldn't really be blocking anyway, that's just not how javascript works; it could return a promise and reject that promise later of course, but I don't think allowing mu

[2016-02-19 20:56] tabatkins commented on #489
Yes, Bikeshed conversion was a good idea, but as I said earlier, it's a diversion from the actual purpose of this thread, which is to get dfn.js on the spec.

[2016-02-19 23:30] inexorabletash commented on #836
The best I could come up with that approximates the original desired semantics - multiple cooperating handlers asynchronously decide if they are the one that will service the request, and have unfettered access to the `fetch` event - is something like the following. Like @mkruisselbrink I'm relying on the fact that multiple handlers see the same `Event` object and can decorate it.

[code]

I belie

[2016-02-20 00:50] wanderview commented on #836
If we let evt.respondWith() happen async so different handlers could respond over time.  How would we handle the case where none of the handlers chose to intercept?  At what point would we proceed with normal processing?

If the answer is "the waitUntil() promise", then that seems the same as passing a promise to .respondWith() and using middleware to me.  The event handlers have to coordinate to

[2016-02-20 09:43] delapuente commented on #836
@mkruisselbrink yes, JS is not blocking. Is the underlaying `respondWith()` mechanism which is blocked.

@wanderview, so `null` or `undefined` are the "cancel values" for `respondWith. The "no one wants to intercept this" scenario is not very different from having a `respondWith()` passed with a promise that never resolves. Actually, it is slightly better as you could answer from the network inste

[2016-02-20 11:45] annevk commented on #831
For HTML we could definitely define what type means based on what the rel value says. I think the Web Linking RFC should allow the same, but I guess technically it doesn't. An alternative would be to use a module attribute or some such that you just leave empty.

[2016-02-20 14:09] wanderview commented on #836
Upon further thought, I was wrong about waitUntil() requiring coordination.  Since waitUntil() promises basically get passed to Promise.all(), no middleware is necessary to do that.

[2016-02-22 11:51] jungkees commented on #831
@domenic, there are two points that I'd like to discuss for the hooks.

* SW's script fetch starts at [Update](https://slightlyoff.github.io/ServiceWorker/spec/service_worker/index.html#update-algorithm) step 5. A cross-origin script is not allowed and such URL should have been already filtered out (in [Register](https://slightlyoff.github.io/ServiceWorker/spec/service_worker/index.html#register-a

[2016-02-22 16:06] jakearchibald commented on #836
Agree this should be middleware, since it might be a series or a race depending on the app, and you may not want to run additional handlers until others fail to provide a response.

[code]

[2016-02-22 16:32] #836 closed

[2016-02-22 19:19] domenic commented on #831
Hmm, does this properly take care of a same-origin request URL redirecting to a cross-origin response URL? I guess maybe that is why you are setting the redirect mode to manual?

Thanks for outlining these. Hmm, this seems pretty tricky.

At first I thought it would be better for the SW spec to define`fetch a classic service worker script` and `fetch a module service worker script tree` by copying

[2016-02-22 20:07] owencm opened #837 "Support modifying cookies on an intercepted fetch"
There is an important use case around auth and identity where you may want to intercept fetch requests, detect the cookies are out of date, generate new ones (via a fetch to the server) and then send the original request with the new cookies.

Is that possible with SW today? It seems to me that you can't modify the cookie headers (), and it's unclear whether a currently intercepted request will be

[2016-02-22 20:15] mkruisselbrink commented on #837
I'm not sure what "detect the cookies are out of date" means, but cookies don't become part of a request until after a service worker has potentially processed it (in [http fetch](https://fetch.spec.whatwg.org/#http-fetch) step 3 a service worker gets access to the request, and it isn't until step 4.4 when a request eventually reaches step 12.1 of [HTTP-network-or-cache fetch](https://fetch.spec.w

[2016-02-22 20:31] owencm commented on #837
To expand on the issue: some sites set cookies to expire after short periods for security reasons, but would like to keep a longer term cookie on the client, and then when the short term cookie expires they'd like to make a single "cookie refresh" request with the long term cookie that will provide a new short term cookie which can be added to the original request that had the expired cookies.

If

[2016-02-22 20:32] owencm commented on #707
FYI, as noted in issue #837, the ability to read cookies is fundamental to extending signed in sessions on a number of major websites.

I'd encourage this group to prioritize this feature.

[2016-02-22 23:43] ojanvafai opened #838 "setTimeout/setInterval are unreliable in ServiceWorkers"
ServiceWorkers are specifically designed to be short-lived. So `setTimeout`/`setInterval` don't work reliably. Instead of having a feature in the platform that will lead to authors writing buggy code, we should just not support them inside ServiceWorkers. These two APIs should be moved to `DedicatedWorkerGlobalScope` and `SharedWorkerGlobalScope` instead where they run reliably.

[2016-02-22 23:51] wanderview commented on #838
This is no different than the risks of using other async methods in SW; cache api, idb, etc.  You can use them safely in combination with waitUntil() or respondWith().

[2016-02-23 00:05] ojanvafai commented on #838
It means we need to keep the ServiceWorker alive. If there were a good use-case for it, I'd be open to that. The difference from the other async methods is that those methods are all serving an explicit purpose (e.g. do a thing once you've gotten a result out of the database). Is there a good use-case for keeping a SW alive for 100ms and then doing something?

[2016-02-23 00:07] mkruisselbrink commented on #838
It might be perfectly reasonable to fire of a fetch, and in parallel wait for 100ms to return something else if the fetch doesn't return in time.

[2016-02-23 00:49] esprehn commented on #838
For that I think you want to use the timeout on fetch? I don't see a timeout feature on fetch, but that's a fetch bug.

[2016-02-23 00:57] mkruisselbrink commented on #838
I agree that a timeout on fetch would be helpful too, but not enough.
To elaborate on the use case I was trying to describe:

1. Fetch event comes in, fire off network fetch and start timeout.
2. After 100ms timeout triggers, resolve promise passed to respondWith with something (but leave a waitUntil promise unresolved)
3. When fetch finishes, store its result in cache, postMessage to client to in

[2016-02-23 02:12] RichardMaher commented on #838
@ojanvafai What is happening at the moment? I assumed it would be extremely inefficient to terminate a SW as soon as the event queue is empty, are you say that this *is* in fact what is happening?

Why would a user-agent, or operating system, terminate a SW on a device is resource rich and far from exhausted?

BTW I fully accept you original points about setTimeout/setInterval as long as they are

[2016-02-23 02:30] jungkees commented on #831
SW doen't allow redirecting to any URL when it fetches its own script resource. That's the reason we set the redirect mode to "manual" and reject the update promise when the response's status is not an ok status. I don't see any problem using HTML's fetch worker scripts in that aspect.

I don't think we want to apply any of those customizations in fetching the imported resources. But with regard t

[2016-02-23 02:32] RichardMaher commented on #532
Why was this added to Version 2 milestone. What is the alternative ?

[2016-02-23 03:10] mkruisselbrink commented on #831
I would expect the "fetch a module script tree" to be only done once, the first time the script is loaded. After that the module map could be persisted just like the current script resource map, and whenever the worker is ran in the future we'd need to somehow prepopulate the module map again from this cache before executing the script.

And yeah, I agree that we don't want to include anything oth

[2016-02-23 03:54] RichardMaher commented on #745
I found a very interesting, and inspiring quote today that I'd like to share with you: -

https://twitter.com/jaffathecake
Googler. "I want the web to do everything native can, and fast."

So  can anyone here explain to me how that precludes device/user tracking? Or how HTML5 Web Apps can not be available today with the same functionality as Uber, Domino's, GrindR, FaceBook, tomtom?

What the hell

[2016-02-23 06:55] jungkees commented on #831
Ah.. We invoke "fetch a module script tree" in Update and "run the module script" in Run Service Worker. So, I think that's already true.

[2016-02-23 07:41] jungkees commented on #831
But the thing is when the "fetch a module script tree" is invoked in Update the imported scripts will be updated anyway. So if we don't cache the imported scripts as we do with importScripts the subsequent Run Service Worker has a chance to run the same main script with the updated imported scripts. We'd have to decide which behavior we want: caching the imported scripts vs deferring to the module

[2016-02-23 09:08] annevk commented on #831
1. The redirect mode should be "error" for fetching service workers, not "manual".
2. I prefer not doing tight coupling of type/destination with other features of request inside Fetch. It's less modular. We haven't even done that for mode "navigate" (redirect mode is set to "manual" by HTML for that).

[2016-02-23 11:04] delapuente opened #839 "Consider relying on eTags (or other headers) for service worker dependencies to check for updates"
For the sake of modularization and isolation. Could it be possible to improve the update algorithm to rely on the eTag / content-size / other headers sent by the server to decide when a service worker changed? Now we need to include a mark of change in the sw and this forces a lot of developments to postprocess service worker files.

[2016-02-23 11:50] annevk commented on #839
I think @ehsan and I had a proposal for this at some point.

[2016-02-23 12:09] jakearchibald commented on #839
If the request is made with `If-Modified-Since` or `If-None-Match`, and the response is `200`, we could assume this is a new SW even if it's byte identical. Although this would cause unnecessary service worker updates on servers that send out `Etag` or `Last-Modified` but don't correctly return `304`.

Else we just add `Service-Worker-Force-Update: 1` or something.

[2016-02-23 13:58] delapuente commented on #839
More than checking if the main sw file changed, I'm referring to its dependencies imported via `importScripts()`.

[2016-02-23 14:11] jakearchibald commented on #837
@owencm that would work if we had a way to read cookies, but I can't quite get my head around the use-case. If the server knows that cookies need updating, why is there a problem?

Eg:

1. Request made to server with cookie `foo=bar`
1. Server realises that's out of date, and treats it as the correct `foo=world`
1. Sends response along with set-cookie `foo=world`

[2016-02-23 14:46] jakearchibald commented on #839
Yep, understand that, you'd be sending an etag (or last-modified) that represented the SW and its dependencies.

Maybe that's too hacky?

[2016-02-23 15:04] jakearchibald commented on #707
I like @domenic's full-featured proposal, and agree that `id` should be a compound thing, but maybe `{ name, url }` is enough?

`.get(name, url = '/')` - get the cookie with name `foo`, and the domain/path from the url.

`.matchAll({ name: 'foo', url: '/bar/' })` - get the cookies that would be sent to a fetch to `/bar/`, then filter by name if provided. `url` defaults to `location.href`.

`.match

[2016-02-23 19:38] tabatkins commented on #489
Note: I've been building the dfn.js functionality directly into Bikeshed, so the panels are generated statically and only have a tiny JS dependency for the show/hide functionality. I plan to turn this on by default later today unless someone objects, so the conversion to Bikeshed was a good idea. ^_^

[2016-02-23 19:58] delapuente commented on #839
I think that undermines the purpose of the ETag about digesting the content being served. It would do the trick but I think is better to come up with something more pluggable in the actual ecosystem not requiring to hack with semantics. ;)

[2016-02-23 23:05] domenic commented on #831
@annevk OK, so not modifying Fetch. Do you have an opinion on the "set up the request" and "process the response" hooks vs. baking it into HTML?

[2016-02-24 00:51] mkruisselbrink commented on #831
My personal opinion is that we should keep the caching behavior we have today. So store the module map the first time a worker is executed and in the future recreate the worker with the same module map. I don't see why we'd treat es6 modules any different from importScripts when it comes to updates, caching etc.

[2016-02-24 01:42] ojanvafai commented on #838
My point is that it's racy. You don't know when the SW is going to get killed.

[2016-02-24 01:53] RichardMaher commented on #838
%100 agree. Zap 'em.

[2016-02-24 02:55] wanderview commented on #838
Being able to delay execution is a primitive.  We offer waitUntil() to avoid races here and with other async functions.  I personally don't see a reason to remove setTimeout().

[2016-02-24 03:36] mkruisselbrink commented on #838
I don't agree that removing setTimeout makes sense either. I don't see how it is any different from any other async APIs. You have to be somewhat careful using it, just like other APIs. Also there are actual use cases enabled by it.

[2016-02-24 03:37] RichardMaher opened #840 "ServiceWorker Longevity"
WRT: - https://developer.mozilla.org/en-US/docs/Web/API/ServiceWorkerGlobalScope

Can anyone please confirm that the Mozilla documentation is wrong, or at least out of date?

There is certainly nothing in the spec (I can see) that mandates the immediate culling of viable and reusable SWs as soon as the event queue is empty.

I can see no evidence of the wisdom of a strategy that seeks to conserve

[2016-02-24 04:30] wanderview commented on #840
The spec is written such that the browser can kill the service worker thread whenever it thinks make sense.  In practice, both chrome and Firefox implement a grace period before terminating the thread.

The MDN text is strongly worded to discourage people from relying on global state.  Note, however, it does not state the definition of "idle".

[2016-02-24 04:39] RichardMaher commented on #840
Cool bananas! Thanks for explaining Ben. Makes much more sense.

[2016-02-24 04:39] #840 closed

[2016-02-24 04:43] RichardMaher commented on #838
@mkruisselbrink I don't doubt there are use cases enable by it. What I'm curious about is if those cases would not be better served by a reliable calendar/time manager that, when faced with an absent/terminated SW, would fire one up again to deliver the event.

[2016-02-24 04:55] jungkees commented on #831
Because they executes in a different way. With importScripts(urls), the network fetches for the imported scripts are always triggered when the main service worker script is run. So I guess the major concern was the scenario where the UA is offline and Run Service Worker fails while loading such imported scripts again from the network. Some related discussion was here: https://github.com/slightlyof

[2016-02-24 06:41] RichardMaher commented on #838
Not sure about Ben's definition of "Safely" and I hope this is a half relevant and intelligent question.

WRT: - https://slightlyoff.github.io/ServiceWorker/spec/service_worker/#extendable-event-waituntil-method

Is it be possible that @mkruisselbrink  could wrap his setTimeout up in a promise like: -

function wait(time) {
  return new Promise(function(resolve, reject) {
    var req = setTimeout(

[2016-02-24 08:50] #794 closed

[2016-02-24 09:02] annevk commented on #831
@domenic I have lost sight of the network requirements of service workers. I would be happy to include most of the logic in HTML if that's feasible since that makes it easier to tweak this going forward, but I'm also happy putting some in each.

As for request's destination, we recently changed its design and I forgot to file a downstream issue.

[2016-02-24 09:20] annevk commented on #838
Note that if we decide to do this, we'd need to change HTML, since HTML is what causes these to be exposed in service workers.

[2016-02-24 14:05] wanderview commented on #794
So we need to say anything about dispatching the activate event on browser start when promoting a waiting worker?  Maybe we should just queue an Activate job?

[2016-02-24 14:10] wanderview commented on #838
Richard, wrapping the setTimeout() in a promise is good, but you are missing the waitUntil().  Something like:

[code]

Implementing any kind of implied keep-alive state is problematic and prone to abuse.  That's why we offer the explicit waitUntil().

[2016-02-24 14:20] jakearchibald commented on #838
Agree with @wanderview and @mkruisselbrink here, `setTimeout` is no more dangerous here than other async APIs. `waitUntil` is the mechanism we have to extend an event, if you don't use that, you get no guarantees.

Say I wanted to race the cache & the network, but prefer network content if it can arrive in 500ms:

[code]

Not sure how you'd achieve this without `setTimeout`.

[2016-02-24 20:05] mkruisselbrink opened #841 "Define some way for foreign fetch to decide on opaqueness of responses"
A service worker with a foreign fetch handler needs some kind of API to decide if responses it returns should be opaque responses or not when received by whoever initiated the fetch (as currently specified all responses will be opaque, which is rather limiting).

Currently [proposed](https://github.com/mkruisselbrink/ServiceWorker/blob/foreign-fetch/foreign_fetch_explainer.md#what-about-cors) is t

[2016-02-24 20:10] mkruisselbrink commented on #707
So I fully agree that we probably want some kind of new and improved cookie API that works in service workers, but I don't believe that such an API should be part of the service worker spec, so this repository is probably not the best place to discuss details about the exact shape of the API.

Not sure where such an API should live though (as part of HTML? as a separate spec in the web platform WG

[2016-02-24 20:42] #684 closed

[2016-02-24 20:50] inexorabletash commented on #707
After discussing w/ @domenic, @bsittler was planning to spin up a repo for it for iterating/issue tracking, though we imagined it would end up as part of HTML since it needs to interop w/ the existing Cookie behavior. (Otherwise I prefer "small specs" too.)

And WICG probably has the lowest bar...?

[2016-02-24 21:34] mkruisselbrink commented on #707
@inexorabletash not quite sure how needing to interop with the existing Cookie behavior would imply this being part of HTML? The part of the HTML spec that deal with cookies is pretty much two lines of spec text calling out to the [ietf cookie](https://tools.ietf.org/html/rfc6265) spec to get/set cookies. Referring to the same IETF spec from a cookie API spec seems like all that would be needed to

[2016-02-24 22:41] RichardMaher commented on #838
Trying to get this clear in my head.

ExtendedEvent.waitUntil() offers viability guarantees that Promise.race() or .all() cannot and does not? Is that correct? Is it because Promise is standard ECMAscript and waitUntil() is SW aware?

I've looked at https://github.com/slightlyoff/ServiceWorker/issues/738 "Describe waitUntil() behavior in terms of Promise.all()". I've also looked at https://develop

[2016-02-24 23:02] inexorabletash commented on #707
@mkruisselbrink is probably right that there's no dependency. For the record, I was thinking of consistency issues but we've given up on that anyway - see the big warning near https://html.spec.whatwg.org/#dom-document-cookie

[2016-02-24 23:16] wanderview commented on #838
Right, we explicitly only want work to be done in the context of a functional event.  We don't want people visiting a site once and then later discover that site has been mining bitcoin in the background.  So arbitrary long running operations are explicitly not supported outside of functional events.

[2016-02-24 23:28] domenic commented on #831
After thinking about this a bit more, I think I will go with the "An alternative design would be:" approach. I meant to work on it today but seem to have run out of time. I hope to have it ready for you sometime tomorrow, @jungkees.

[2016-02-25 01:08] RichardMaher commented on #838
Thanks again for explaining Ben and the logic seems sound. (Otherwise there'd be all these indefinite promises lying around just to keep the SW alive :-)

I assume you don't allow something like: -

var dodgyEvent = new ExtendableEvent('message_OrSomethingElse');
self.addEventListener('message', function (e) {
           var neverSettle = new Promise(function(resolve, reject) { });
           this

[2016-02-25 02:17] jungkees commented on #831
@domenic, sounds good. Let's try with that approach.

[2016-02-25 03:42] wanderview commented on #838
The spec allows the browser to kill threads stuck in a `waitUntil()`.  I believe both chrome and firefox implement this using a timeout on the order of minutes.

[2016-02-25 09:11] jakearchibald commented on #839
Yeah, I think you're right. `Service-Worker-Force-Update: 1` would work.

[2016-02-25 09:35] delapuente commented on #838
Just my two cents: we are currently using `setTimeout()` in a similar way @mkruisselbrink points out. This case to respond from the cache [only if network times out](https://github.com/delapuente/wp-offline-content/blob/master/wp-offline-content/lib/js/sw.js#L83).

[2016-02-25 09:44] jakearchibald commented on #841
If we reuse CORS headers, then passing the response back without thinking could reveal more info than intended.

Feels weird to put a method on `Response` that only really applies to foreign fetch. I prefer `foreignFetchEvent.makeVisibleTo()`.

Another possibility is to make `foreignFetchEvent.respondWith` receive (a promise for) an object, so the usage would be:

[code]

You lose the opaque defau

[2016-02-25 09:47] jakearchibald commented on #707
Agreed

[2016-02-25 09:51] jakearchibald commented on #532
But these features are very much associated with the SW registration. The push registration is per SW registration, and the related events go to the active SW within that registration. If the SW is unregistered, these things are also unregistered.

Really sorry this issue got lost in the noise, but I'm closing this issue. Feel free to reopen if I've got the wrong end of the stick, or there's a bet

[2016-02-25 09:51] #532 closed

[2016-02-25 10:24] annevk commented on #841
Wait, why would `event.request.origin` match `location.origin`? I don't think it should.

We also need to think through if this creates a new kind of filtered response and what returning such a filter response elsewhere would do. E.g., with nested foreign fetch (I tend to think we need to make it such that each layer needs to use an API to reveal it to the next).

Reusing CORS directly doesn't wor

[2016-02-25 10:40] jakearchibald commented on #841
If `example.com` makes a request for `https://fonts.example.com/foo.woff` then `request.origin` is `https://fonts.example.com`.

Since `foreignfetch` events can only handle requests made to the registration's origin, and SW scripts can only be same origin, `location.origin` within the SW handling a `foreignfetch` for a request with url `https://fonts.example.com/foo.woff` must be `https://fonts.ex

[2016-02-25 11:00] jakearchibald commented on #841
Agreed. I don't think this creates a new kind of response. The headers are filtered in the same way they are now via CORS, or the request becomes opaque like it does with no-cors.

The return of `foreignFetchEvent.makeVisibleTo()` should just be a wrapper around the response. `foreignFetchEvent.respondWith()` unwraps it unless there's a security error.

[2016-02-25 11:05] jakearchibald commented on #841
Another argument for `makeVisibleTo` to sit on `foreignFetchEvent`: it can indicate the visibility of the response after it returns/resolves. `Response.makeVisibleTo` cannot, as it doesn't know anything about the destination.

Not convinced `makeVisibleTo` should take a promise either. It could be synchronous right?

[2016-02-25 13:06] wanderview commented on #841
Bikeshedding:  Can we name it reveal() instead of makeVisible()?

[2016-02-25 14:39] wanderview opened #842 "consider exposing install time on ServiceWorker DOM object"
It might be nice to expose when a service worker was installed.  This could be used for debugging and other diagnostics.  For example, the site could send the value to the server and if it sees that a client is not updating for some reason then send the serviceworker kill header.

[2016-02-25 15:09] wanderview commented on #842
In IRC Jake suggests exposing last update attempt time on registration as well.

[2016-02-26 00:09] domenic commented on #831
I worked on this today and got stuck. The problem is, what do we do in the following situation:

[code]

Currently, all module loads go through the module map, which explicitly makes sure that we only fetch them once. Because of this, the special preprocessing steps on the request and postprocessing steps on the response do not happen. That seems pretty bad.

I wanted to check what the desired beh

[2016-02-26 00:18] mkruisselbrink commented on #831
I'm not quite sure I understand this. Doesn't every window and/or worker have their own module map? If so why would navigator.serviceWorker.register every use the module map of the window from which the register call was made? I would expect this to behave the same as other workers do (at least if I'm reading the spec right) and the service worker script would have their own module map.

[2016-02-26 00:24] domenic commented on #831
Oh, interesting! I guess it depends on where the service worker spec was planning to call "fetch a module script tree" from. And it does indeed make more sense to call it from inside the service worker; that parallels how normal workers ... work.

OK, thank you for clearing that up! That makes this much, much easier.

[2016-02-26 10:05] annevk commented on #831
Yeah, the module map shouldn't cross continent/agent/vat/world boundaries.

[2016-02-26 10:09] annevk commented on #841
respondWith() cannot simply unwrap. It needs to be a new filtered response of some kind. Otherwise it would reveal all of the response whereas we want to limit exposure to certain headers and such (and we also don't want to expose more headers than were exposed thus far, might be quite tricky to get that right).

[2016-02-26 11:32] jungkees commented on #831
Working on this: https://github.com/slightlyoff/ServiceWorker/commit/245f98dadddb5bfce5a62ca65a5c1ac47eb91d75

I believe it's mostly done but would like to review it myself on Monday before requesting a review.

[2016-02-26 12:25] jakearchibald commented on #841
I mean the return of `foreignFetchEvent.makeVisibleTo()` is a wrapper around the new response. I'm trying to avoid creating yet another response type, especially one that's only useful between calling `foreignFetchEvent.makeVisibleTo()` and `foreignFetchEvent.respondWith()` checking it.

[2016-02-26 12:51] annevk commented on #841
@jakearchibald we need a wrapper after respondWith(). I would imagine `makeVisibleTo()` to simply put some annotations on the response that Fetch can use.

[2016-02-26 20:20] owencm commented on #837
@jakearchibald the issue is that for some legacy backends (spoiler: there are lots of these out there) it's near impossible to modify all possible endpoints on the server to check and re-issue a new cookie. A much more practical engineering approach is to check in one place in the SW and then hit a single endpoint to refresh the cookies before letting the original fetch proceed.

I know of some sp

[2016-02-26 20:27] mkruisselbrink commented on #841
Hmm, good point about needing a new filtered response type. If fully opaque/fully visible was all we cared about opaque filtered vs not filtered is all that we would need. But with selectively exposed headers thrown in the mix some new response type is probably needed. It might also be an option to extend the definition of a CORS filtered response to take these annotations into account, but that m

[2016-02-27 07:44] annevk commented on #841
My new preferred plan is something like this:

* Instead of `makeVisibleTo`, `respondWith()` on `ForeignFetchEvent` is somewhat different and passed a promise for a dictionary, consisting of `{response: ..., origin: ..., headers: ...}`.
* You always need to pass a dictionary, even when you're not passing origin/headers.
* If you pass headers without origin it'll result in a network error.
* Fetch

[2016-02-27 07:49] annevk commented on #841
The other thing we need to think through and define is that the `response` member of the dictionary the promise is resolved with that is passed to `respondWith()` can contain any kind of response. So when you pass in an opaque response, we cannot make that visible. If you pass in a CORS response, we can only safelist the headers already safelisted by the CORS response. If you pass in a foreign-fet

[2016-02-28 12:21] delapuente commented on #842
In addition to the [proposal of relying on server headers to perform an update](https://github.com/slightlyoff/ServiceWorker/issues/839), this could be very convenient.

[2016-02-28 14:09] delapuente commented on #841
IMHO, visibility rules should be the same as those governing in the _fetch from network_ case, i.e. CORS headers. I really don't get the point of not using CORS.

If someone could clarify what does this means:

I think responses for foreign fetch should not be different from already existent responses. For the client doing the request, it should not be distinguishable if the response comes from a

[2016-02-28 16:50] annevk commented on #841
It won't be distinguishable from the point of view of `fetch()`, but "using CORS" doesn't work due to the ambient authority of the service worker. We need to know, from the service worker, that this was actually meant to be shared.

[2016-02-29 08:07] delapuente commented on #841
But you could force CORS responses to be at least as protective as the network response. So if you receive an opaque response you could not make it more visible at all and if you receive a _partial_ opaque response (say, exposing just some headers) you could reduce this set but never extending it.

This way:
[code]
Acts the same way as if it were no service worker.

[2016-02-29 08:16] annevk commented on #841
I'm not sure what you're saying.

[2016-02-29 08:32] delapuente commented on #841
Sorry, then I don't understand what you mean with the 'ambient authority' of the service workers and the need to know that the response was meant to be shared. Anyway, if the `fetch()` can only see the result as CORS headers, that works for me.

+1 to `validateRespondWith()` to know in advance if the response will fail.

[2016-02-29 08:40] annevk commented on #841
The foreign fetch service worker is always fetched with credentials. CORS requests are either with or without credentials. But even for CORS requests without credentials, we'll use the foreign fetch service worker (fetched with credentials). Therefore we want to be absolutely sure that it wants to share a response.

Furthermore, if the foreign fetch service worker itself fetched something cross-or

[2016-02-29 10:16] delapuente commented on #841
Got it. Thank you, I think we are aligned here. When talking about CORS should be enough, I was implicitly saying **without creating a new response** so we require some kind of API to tweak the visibility options.

[2016-02-29 12:09] jungkees commented on #831
I updated the patch: https://github.com/slightlyoff/ServiceWorker/commit/9111303ebc163b046d3f1ae6267a747ddfde2b64

@domenic @mkruisselbrink @annevk, please review it if I've done a right thing to integrate with the changes in HTML.

[2016-02-29 18:16] domenic commented on #831
Looks good to me, with the only issue I spotted being that validate the response should not take care of errored/non-ok responses, but instead should handle the fetch-a-script algorithms asynchronously completing with null.

[2016-03-01 08:38] RichardMaher commented on #838
FYI, Firefox works as expected when it comes to adding images to the current page either via SRC or FETCH API. Chrome 48 on the other hand does NOT fire a 'fetch' event. Curious.

      var noMic;
		noMic = document.createElement('img');
		noMic.style.visibility = 'visible';
		noMic.style.height = '20px';
		noMic.style.width = '20px';
		document.body.appendChild(noMic);
		noMic.src = '//localhost/

[2016-03-01 10:21] jakearchibald commented on #838
@RichardMaher this doesn't seem related to this issues. If you have found a Chrome bug, can you post it to crbug.com? Feel free to ping me on https://twitter.com/jaffathecake/ and I'll try and recreate, but I've created [demos](https://jakearchibald.github.io/trained-to-thrill/) that depend on SW handling image loads, and they work.

[2016-03-01 12:53] wanderview commented on #838
Could be differences in image cache?

[2016-03-01 18:35] #489 closed

[2016-03-02 02:54] eligrey commented on #670
I would love to work on implementing something using @feross's WebTorrent + ServiceWorkers where users can simply click a button to "donate bandwidth" for large files for open source groups websites. Instant user-friendly seeding for people who don't want to download a torrent client would be amazing.

[2016-03-02 08:03] jungkees commented on #831
Thanks for the review. I merged the changes having addressed the comments: 6d9500e99e764c12b117c63d10107e094d243662, dc2101edbfb89c635d9534ec85aa326999318d5a and b2085fb260628e970f0188b8585163e7f88a3360

[2016-03-02 08:03] #831 closed

[2016-03-02 10:56] jakearchibald commented on #670
I'm going to close this since there's nothing for us to do here, all the work is in https://github.com/w3c/webrtc-pc/issues/230

If the usage being discussed here requires the service worker to be constantly running, that seems like an abuse of SW, which is built to handle events, then shut down.

Shared workers are the ones that stick around.

[2016-03-02 10:56] #670 closed

[2016-03-02 12:45] RichardMaher commented on #838
Thanks for the offer of the side-bar Jake but I use neither Twatter or FacePlant. I did email you not so long ago but just assumed that you're pretty busy or I ended up in junk-email. Either way, when it comes to "this issue"  it was all over as soon as @mkruisselbrink posted their use case.

Don't get me wrong, I've learned/am learning a lot from your code example and think this thread should sta

[2016-03-02 13:14] jakearchibald commented on #838
I'm closing this. `setTimeout` and `setInterval` are no less reliable in SW than any other async methods, and there are legitimate use cases for them

[2016-03-02 13:14] #838 closed

[2016-03-04 01:01] owencm commented on #837
@mkruisselbrink I just tried the following in a service worker:

1) Intercept a fetch request
2) Make a new request to an endpoint that includes Set-Cookie with a new cookie
3) Once that request comes back, wait 1 second and then let the original fetch request go to the server

I've noticed that the second request that goes to the server doesn't include the cookie set by the first request. Is that

[2016-03-04 01:07] mkruisselbrink commented on #837
@owencm From just reading the various specs I would have expected that to work (the original fetch to include the cookies set by the in-between request). So that's either a bug in the chrome implementation, or I'm misunderstanding the fetch spec.

[2016-03-04 01:09] wanderview commented on #837
@owencm Can you test what Firefox does in that case?

[2016-03-04 13:11] jakearchibald commented on #817
FWIW this came up when trying to emulate appcache via SW.

Appcache assigns a version of a manifest on navigation, so we'd need to create a record that links a client to a cache at the time of the client request. This same cache needs to be used for subresources of the client (if a client is created).

We have ideas for workarounds (which come with race conditions, but they'd be highly unlikely) s

[2016-03-04 21:06] bsittler commented on #707
Just created a repo: https://github.com/bsittler/async-cookies-api

It doesn't have a useful explainer yet but perhaps it would be useful to move further cookie API discussion there, file issues, etc.?

[2016-03-05 00:21] owencm commented on #837
@mkruisselbrink @wanderview I couldn't try this in Firefox since I couldn't find any documentation about how to debug service workers there and inspect their console (link?)

I did resolve the issue though. It turns out that the Set-Cookie header is ignored on responses unless the fetch that triggered it specified `credentials: 'include'`, which wasn't my understanding of that option.

I've now go

[2016-03-05 00:21] #837 closed

[2016-03-05 07:02] annevk commented on #707
@inexorabletash I think implementers have not quite given up on consistency issues and we shouldn't either. It's just no longer in the form of the storage mutex. We should be able to work something out though between the HTML Standard and @bsittler's work.

[2016-03-05 22:32] ppppess commented on #808
Well, it seems logical to be able to identify the page using the service worker and making the requests.

In my case, I need the service worker to behave differently according to the host page url.
For example:
if the host page location is https://myhost.com/forward then forward requests
else (the host page location is https://myhost.com/anythingElse) don't forward anything.

Any idea how can I ac

[2016-03-07 16:05] wanderview commented on #808
@ppppess Can you use evt.request.url for top level documents and the referrer header for sub-resources?

[2016-03-07 17:00] ppppess commented on #808
Hi @wanderview. Sure, I guess I could hack it, but it is not as clean as being able to determin reliably which "authority" (i.e. page) controls the service worker.
Basically, no clientID makes it really hard for different pages to share the same service worker.

You could imagine for example (silly, I know) 2 pages with the same url (referrer) opened at the same time, on the first one the user giv

[2016-03-07 18:28] jakearchibald commented on #808
@ppppess what do you mean by "forward requests", as in let them go to the network rather than from a cache etc?

Assuming that's the case, and https://myhost.com/forward contained…

[code]

…would you expect the client ID for the img & clicking the link to be the same?

[2016-03-07 22:32] ppppess commented on #808
Hi @jakearchibald. Sorry, I was sloppy in my explanations. I'm gonna try to do better.

Any given page can look very different from its original state after a bunch of user clicks.
Now imagine the user opens the same page twice in different windows, but interacts with the page differently in each wondow.

Now each window has the same url (referrer) and service worker. *But they are not in the same

[2016-03-09 09:39] jungkees commented on #710
Replaced "used flag" text with "disturbed" and made the input response's body stream of `put(request, response)` and `respondWith(r)` consumed: ccff1f16d376ced3ef0544df9a942bbf6fc49494 (The body streams stored in Cache and returned to Fetch will not be int disturbed state of course.)

[2016-03-10 07:10] jungkees commented on #710
* Used "internal response" to set the body to null for a HEAD request in `matchAll(request, options)`
* Set the Response's Headers' guard to "immutable" in `addAll(requests)` and to the input Response's guard value in `put(request, response)`

I believe more filtered response bits for foreign fetch are being followed up in https://github.com/slightlyoff/ServiceWorker/issues/841 and we'll continue

[2016-03-10 07:41] annevk commented on #710
Wait wait wait. You allow modification of opaque responses? I don't think that's a good idea. HEAD to an opaque response should be a network error.

[2016-03-10 07:53] jungkees commented on #710
Sorry to have not been specific with the description above. Setting the body to null is for the case where `matchAll()` steps run with request's method HEAD and options.ignoreMethod set to false. I didn't change the original behavior but just introduced "internal response" to the text.

We're not mutating the state of the stored response, but just returning a copy of the response after removing th

[2016-03-10 08:14] annevk commented on #710
Yes and I'm saying that should not be possible for opaque responses. You don't "just" change opaque responses.

[2016-03-10 14:31] wanderview commented on #710
Pretty sure this behavior has been in the spec for a long time, @annevk.  We definitely honor it in gecko:

  https://dxr.mozilla.org/mozilla-central/source/dom/cache/Manager.cpp#501

The rational is if you do a HEAD request to a cross-origin server without CORS, you still get a response without a body.  The Cache API should behave the same.

[2016-03-10 14:35] annevk commented on #710
Yes, but you cannot do a "no-cors" HEAD. Allowing that, even just for the cache, seems like a same-origin policy violation.

[2016-03-10 14:52] wanderview commented on #710
I think this is probably more an issue with Cache API spec not reflecting that Responses are serialized and deserialized.  Its really creating a new Response on each .match().  If its a HEAD, its creating a new Response without a body.  That seems reasonable and safe for opaque responses to me.  (And its what we currently do in the impl.)

[2016-03-10 15:23] annevk commented on #710
@wanderview see https://github.com/domenic/cancelable-promise/issues/4#issuecomment-118366076 for some of the concerns with altering opaque responses. They don't necessarily apply here, but I'm still deeply skeptical of allowing such things. E.g., for one, you shouldn't be able to tell if an opaque response has a body or not.

[2016-03-10 15:31] wanderview commented on #710
@annevk, so you think these should have different behavior?

Where a fetch event is generated from an <img> element:

[code]

Vs:

[code]

You are saying that code snippet 1 should NOT show the image in the <img> element, but snippet 2 should show the image?

Per the current spec language both of these snippets result in the same behavior.  The image is not shown because the Response was created v

[2016-03-10 15:34] annevk commented on #710
I'm worried about changing opaque responses. I'd appreciate input from security folks since this changes the same-origin policy. I would probably throw for the latter case as I suggested earlier.

[2016-03-10 15:37] wanderview commented on #710
We would need @jakearchibald's input to change this as well, I think.

[2016-03-10 15:37] wanderview commented on #710
In any case, this should probably be a separate issue.  @jungkees did not add this behavior to the spec in this commit.  It has been there for a long time.

[2016-03-10 15:39] wanderview commented on #710
Also, I really don't understand the security concerns.  We're already hiding opaque response bodies from script.  All removing the body on HEAD does it further hide the body from the browser.  Removing information seems generally safe.

[2016-03-10 15:54] annevk commented on #710
I just pointed to a thread that explained how it'd be unsafe if you remove half of the body.

[2016-03-11 05:17] jungkees commented on #710
To me, @wanderview's snippet 1 and snippet 2 having the same behavior makes sense. Setting the response's body to null for a HEAD request in `matchAll()` here seems nothing but the same as what [main fetch](https://fetch.spec.whatwg.org/#concept-main-fetch) step 14 does for a corresponding HEAD request to the network.

I'm not sure I understand this from the context of our discussion here. Can you

[2016-03-11 06:41] jungkees commented on #823
Addressed: e2a6d18647b97707c7a571163eef7838f82ca611

[2016-03-11 07:38] RichardMaher opened #844 "Fetch API respondWith's implicit RETURN"
I have looked at https://www.w3.org/TR/service-workers/#respond-with-method trying to establish the architected  behaviour of respondWith() and I cannot find anything regarding an implicit RETURN.

Can anyone here please clarify this and the behaviour of the respondWith-entered and wait-to-respond flags?

[2016-03-11 07:53] jdm commented on #844
That's an old version of the specification. Does https://slightlyoff.github.io/ServiceWorker/spec/service_worker/ clarify anything for you?

[2016-03-11 08:03] jungkees commented on #844
Thanks for the pointer. Please refer to that version. And here's some explanation to the question:

The steps in `respondWith(r)` are synchronized with the steps in [Handle Fetch](https://slightlyoff.github.io/ServiceWorker/spec/service_worker/index.html#on-fetch-request-algorithm) where this event's listener was invoked.

respond-with entered flag is being checked in Handle Fetch step 18.6.3, and

[2016-03-11 10:18] annevk commented on #710
See https://github.com/slightlyoff/ServiceWorker/issues/710#issuecomment-194902635 for the pointer.

[2016-03-11 12:27] RichardMaher commented on #844
My mistake. Looks like an implementation bug (Chrome) rather than the spec:-

	function reply(result){
		console.log("In reply", replied);
		if (replied) return;
		console.log("After reply", replied);

		replied = true;
		event.respondWith(result);
		console.log("Replied : ", replied);
	}

If I stick "replied = true" after the respondWith call then the PC never gets there. It's like the SP gets se

[2016-03-11 13:01] jakearchibald commented on #844
I don't know what PC and SP stand for here. Your code example looks like it's relying on global state (where is `replied` coming from?), if it is, that's likely your source of bugs.

Out of curiosity, what would you use it for?

Fetches within a service worker do not trigger fetch events within the same service worker.

[2016-03-11 13:05] RichardMaher commented on #844
Sorry registers Program Counter (PC) and Stack Pointer (SP) betray my age and are pretty useless in OO interpretive programming but it was a metaphor.

Here's the code:

'use strict';

console.log("Started", self);

function optimusConor(event)
{
	console.log(Date(), 'Handling fetch event for', event.request.url);

	const	MAXDETENT	= 300,
			NOCACHE		= {cache : "no-cache"},
			WORKCACHE   = "FAC$C

[2016-03-11 13:26] jakearchibald commented on #844
@RichardMaher Service workers spin up to call event listener callbacks. Once the event has been handled, the SW may terminate. You're adding a fetch listener in your 'activate' event, but once the service worker terminates that listener is gone, as it isn't reattached when the SW next runs.

All service worker events should be attached in the initial execution of the worker.

[2016-03-11 13:26] #844 closed

[2016-03-11 13:33] RichardMaher commented on #844
Not sure what you mean here have you run it?

1) The FETCH event listener gets called (for a IMG fetch from a different tab)
2) The event optimusConor has not been completely handled
3) The atomic code is wrapped in an event.waitUntil

and most importantly . . .

My reply function does get called several times (check your console) but the respondWith acts like a

RespondWith(); + RETURN;

Is that

[2016-03-11 13:42] jakearchibald commented on #844
There's a few things wrong with your code that will cause it to fail or behave unreliably:

[code]

You shouldn't add event listeners inside other event listeners. Once the service worker is terminated (which happens after a period of not being used, or when the browser shuts down) your fetch listener is gone, because next time the SW runs the activate event isn't fired.

Also, if you want to inte

[2016-03-11 13:58] RichardMaher commented on #844
Good tip! I'll make the change and keep that in mind. Fetch->Idle and Terminated->Idle  -  gotcha.

Please indulge me that the latent bug has not manifested in the test case as yet.

I thought I was. Could you please define/scope ***"within the event callback"***? In-line?

[2016-03-11 14:07] jakearchibald commented on #844
By "within the callback" I mean it's called before the callback returns. Does this explain it? http://jsbin.com/wowevi/edit?js,console

[2016-03-11 14:11] RichardMaher commented on #844
Outrageous! Or as we speak a common language, that is absolute bollocks!

Please show me where that little chestnut is in the spec please?

[2016-03-11 14:37] jakearchibald commented on #844
https://slightlyoff.github.io/ServiceWorker/spec/service_worker/#on-fetch-request-algorithm 18.6.3

This flag is set after dispatch (18.5), so if it isn't called by then, it's ignored.

[2016-03-11 14:38] jakearchibald commented on #844
Also see the dispatch flag in step 5 https://slightlyoff.github.io/ServiceWorker/spec/service_worker/#fetch-event-respondwith-method

[2016-03-11 16:27] wanderview commented on #710
This is not removing half the body.  Its removing the full body just like the network stack has always done for HEAD requests.

[2016-03-11 16:30] wanderview commented on #844
Should we just make `self.addEventListener()` throw outside top level script execution?  I feel like we've discussed that before.  I think we do that for importScripts() for similar footgun reasons.

[2016-03-11 16:41] jakearchibald commented on #844
I'm in favour of that. We already show a console warning apparently https://bugs.chromium.org/p/chromium/issues/detail?id=401870

[2016-03-11 16:54] jakearchibald commented on #844
…but it doesn't appear to be working https://bugs.chromium.org/p/chromium/issues/detail?id=594160

[2016-03-11 17:00] annevk commented on #710
Yes, but you stated "Removing information seems generally safe." which I had just shown to be untrue. And there's a significant difference between the server not including the body based on a `HEAD` request and the client modifying a response it's not supposed to be able to alter.

[2016-03-11 20:43] RichardMaher commented on #844
Sorry, I've one child throwing up all night and another going to rowing in 25 mins so not 100% on the latest, but back on the "before the callback returns" (Jake's example http://jsbin.com/wowevi/edit?js,console )

If I can use a promise like this: -

function wait(ms) {
  return new Promise(resolve => {
    setTimeout(resolve, ms);
  });
}

Then surely: - wait(22).then(console.log(***'this is not

[2016-03-12 04:44] inexorabletash commented on #844
Bingo - that's indeed the pattern you want. (Well, not literally `myPromise.resolve()` of course...)

(Good luck with the sick offspring!)

[2016-03-12 11:56] RichardMaher commented on #844
Thanks Joshua, I'm going for this: -

`
        var		ioResolve, ioReject;

	var		pong		=
			new Promise(function(res, rej){
							ioResolve = res;
							ioReject  = rej;
						});

	event.respondWith(pong);
	console.log("After respondWith()");

    function reply(result){
        console.log("In reply", replied, result);
        if (replied) return;

		ioResolve.call(null, result);
        conso

[2016-03-12 12:11] jakearchibald commented on #844
@RichardMaher I've tried to clean up the formatting in your code, hope I didn't lose any of the intent.

I'm not sure where `replied` comes from in your first example, and it doesn't look like `reply` is ever called. What's the intent?

[2016-03-13 02:53] RichardMaher commented on #844
Hi Jake, If you scroll up to the "Here's the code" example (and thanks for tidying up) you'll see that REPLIED is a boolean that was there to prevent respondWith() being called more than once. REPLY is called by each thread when it decides it has a response contender.

This logic is redundant now that I've had to move to a Promise (probably better anyway). That is, the Promise is settled once and

[2016-03-13 08:58] jakearchibald commented on #844
`inBuf` always resolves because it has a catch handler right at the end which doesn't re-throw.

I'm still not clear on the intent of the code. Can you tell me what the goal is? Eg "I want all requests with URLs that end `.jpg` to come from the cache, and all other requests to go to the network" - I know that's not *your* goal, but can you describe your goal in that form?

[2016-03-13 11:28] RichardMaher commented on #844
Jake, in a nutshell it does what it says on the tin "Best Endeavour". I haven't put any request filtering logic in yet but I was impressed was someone else's idea of trying for a network fetch but if it took longer than Xms then respond with a cached copy (if available).

As a training exercise (Promises, Fetch API) I decided to code a solution that would start 3 "threads" in motion per fetch: -

[2016-03-13 12:23] jakearchibald commented on #844
I think this achieves what you're trying to do:

[code]

A promise is a async representation of try/catch, and this is how try/catch works. See http://jsbin.com/vuhawa/edit?js,console - the function returns undefined rather than throwing, because the error has been caught by a catch clause.

The same thing happens with promises:

[code]

`a` rejects with an error, but `b` resolves with `"Hello"`.

[2016-03-13 14:11] RichardMaher commented on #844
At first glance the level of parallelism appears to be a distinguishing factor in the two strategies, as does the time-to-respond for a cache-hit. But I'll look more tomorrow.

Cheers

[2016-03-13 14:14] jakearchibald commented on #844
Everything's parallel in my example. The network fetch and the cache lookup happen at the same time.

You suggested only going to the cache if the network request failed or timed out. Did I misunderstand?

[2016-03-13 23:18] RichardMaher commented on #844
Sorry, the waitUntil threw me semantically. It looks good, but don't you want to go to cache even if the networkFetchPromise was thenable but respons.ok was false?

[2016-03-14 14:13] jakearchibald commented on #844
Sure thing. Probably want to avoid those going into the cache too…

[code]

It works the same as this http://jsbin.com/lidoda/edit?js,console. The first attached `then` executes first, but async actions within a `then` handler don't block other handlers on the same promise. I'm relying on the ordering for the response cloning.

It is, see `const responseClone = response.clone()`.

Although we're u

[2016-03-14 23:40] RichardMaher opened #845 "HTML5's Offline-first Council of Trent"
I was going to post this as a reply to https://github.com/slightlyoff/ServiceWorker/issues/844 but it is a far greater and more of an all-encompassing issue than a single thread can serve.

We (all HTML5 Web-App developers) desperately need a schism from the heretical forces of "Offline First" and the Spartan, austere, featureless world, of minimalism!

If you want to hamstring yourselves and live

[2016-03-15 14:20] jakearchibald commented on #845
I replied on public-webapps

[2016-03-15 14:20] #845 closed

[2016-03-15 19:57] markuskobler opened #846 "DOMParser within ServiceWorkers"
I'm trying to figure out the best way to parse HTML in response to a `fetch` request. In my case, I'm attempting to figure out any dependencies the HTML might have so I can also cache those assets as well

Is the only way todo this currently to use a horrendously complicated regex or am I missing something obvious?

Or put it another way what would be the downside of exposing the `DOMParser` to th

[2016-03-15 20:36] wanderview opened #847 "What is the "Doom Installing Worker" algorithm supposed to be doing?"
Can someone tell me what the "Doom Installing Worker" algorithm is supposed to be doing?

  https://slightlyoff.github.io/ServiceWorker/spec/service_worker/index.html#doom-installing-worker-algorithm

As far as I can tell its run in parallel with a job from the "Run Job" algorithm.  This seems somewhat insane to me since they are both manipulating the job queue.  Isn't it incredibly racy to assume

[2016-03-15 20:58] mkruisselbrink commented on #847
As you say, Doom Installing Worker seems to try to abort installation/registration jobs if a new register job gets queued before the existing one completed. As such it is invoked both when running a job and when a new job is queued. I'm not sure if any of this is technically racy though (at least not anymore than the entire job queuing mechanism with only implied locking is; "schedule job" can run

[2016-03-15 21:04] wanderview opened #848 ""Wait for all the tasks queued by Update State" language is problematic"
The end of the "Install" algorithm contains this step:

Note that "Update State" says this about the tasks:

So these tasks may be running on different threads from the "Install" algorithm itself.

Implementing the "Wait for all the tasks" language in step 21 is essentially saying to block the main thread until, for example, a task queued against a worker thread has fired.  I don't think we want t

[2016-03-15 21:09] wanderview commented on #847
Why do we even need to abort the current register if a new register is appended to the queue?  How often is that going to happen in practice that we need to optimize it?  Lets just run through the queue and let both jobs run.

[2016-03-15 21:17] wanderview commented on #847
I guess if we assume everything in the lifecycle job code runs on a single thread its not technically "racy", but I still don't understand the algorithm.  I don't see how the .installing worker could ever be set on the registration by the front job in "Doom Installing Worker" since that requires loading a worker script asynchronously.  It seems like Doom Installing Worker would just always exit at

[2016-03-15 21:20] mkruisselbrink commented on #847
Yeah, it seems unlikely that Doom Installing Worker when called from Run Job will ever do anything useful. When Doom Installing Worker is called from Schedule Job it is of course different, as that can happen at any point while another job is installing a worker.

[2016-03-15 21:26] wanderview commented on #847
Hmm, yea.  "Sorry I missed where you pointed out it ran from Schedule Job."

That being said, though, it just doesn't seem safe to me.  The various algorithms don't seem designed to account for the idea that their job is going to get "Finish Job" run on it while they are in the middle some async step.

Assuming we really want this optimization I think it would be better for the algorithms to expli

[2016-03-15 21:59] mkruisselbrink opened #849 "Spec uses incorrect settings object when fetching a module worker"
In [Update](https://slightlyoff.github.io/ServiceWorker/spec/service_worker/index.html#update-algorithm) the algorithm uses "job's client" as "settings object" passed to "Fetch a module script tree". This client is whatever context called "register" or "update", and could even be null if this is a regular "soft update" check. Fetch a module script tree then uses this settings object to find the mo

[2016-03-15 23:55] mkruisselbrink opened #850 "FetchEvent.respondWith does something weird with the body of a response"
In the algorithm describing respondWith the following steps exist:

1. Set the _potential response_ to _response_’s associated response.
2. If _response_’s body is non-null, run these substeps:
  1. Let dummyStream be an empty ReadableStream object.
  2. Set _response_’s body to a new body whose stream is dummyStream.
  3. Let reader be the result of getting a reader from dummyStream.
  4. Read al

[2016-03-16 00:02] domenic commented on #850
/c @yutakahirano

[2016-03-16 01:04] mattto commented on #847
Yes this is what I was talking about here: https://github.com/slightlyoff/ServiceWorker/issues/783#issuecomment-168982727

DoomInstallingWorker is something I added to Chrome before we had timeouts, to ensure a while(true) worker does not block the whole job queue. I don't think it's needed in the spec, or in Chrome anymore now that we a timeout.

[2016-03-16 01:57] mkruisselbrink commented on #847
Ah, sounds like we indeed should just get rid of it from the spec then.

[2016-03-16 02:30] jungkees commented on #847
In Schedule Job step 2.3, the given job (Job_B here for example) is enqueued if it is not [equivalent](https://slightlyoff.github.io/ServiceWorker/spec/service_worker/index.html#dfn-job-equivalent) to the last job (Job_A) in the queue. So, it was the only case that seemed to matter when Job_B has the same scope and a different script url with Job_A. This means, Job_B has to wait until Job_A finish

[2016-03-16 07:43] annevk commented on #846
DOM implementations in browsers are not thread-safe. And don't use a regexp to parse HTML. You need to write an HTML parser if you want to do that.

[2016-03-16 08:07] mattto commented on #847
I think it's fine to wait even if the script url is different.

[2016-03-16 08:48] markuskobler commented on #846
Ok, that's useful to know.

[2016-03-16 12:48] yutakahirano commented on #850
cc: @jungkees, the author of https://github.com/slightlyoff/ServiceWorker/commit/ccff1f16d376ced3ef0544df9a942bbf6fc49494.

I guess the description is from the bottom of https://fetch.spec.whatwg.org/#dom-request. That works because Request is not exposing `body` property, but it's not true for Response.

[2016-03-16 12:49] domenic commented on #846
They aren't supported in web workers.

[parse5](https://github.com/inikulin/parse5) works in web workers, as does in fact large parts of the [jsdom](https://github.com/tmpvar/jsdom) project (although that is a much larger dependency).

[2016-03-16 13:17] annevk commented on #846
@markuskobler the reason `fetch()` doesn't support nodes is mostly because we didn't think a potential fetch module requiring all of DOM is a reasonable proposition. It's not really related to the DOM not being available in workers.

[2016-03-16 15:02] wanderview commented on #848
So, I've thought about this some more and changed my mind.

I forgot that our "wait" language in the spec means an async wait.  So its not really blocking the main thread.

Also, we really should have consistent state change events even on workers.  So we really do need to wait for these.

I now wonder if we should have more "wait for state change events to fire" steps in the lifecycle steps.  For

[2016-03-16 19:34] wanderview commented on #849
Also note the job's client is null when created from Soft Update.  Not sure storing the client on the job is a good idea at all.  We use its origin in some places, but otherwise its only used by the script loading for environment settings (which seems wrong as you point out).

[2016-03-16 19:57] mkruisselbrink commented on #849
Yeah, the job's client was used in a few more places (by associating it with `ServiceWorker` and `ServiceWorkerRegistation` instances), but I removed those in 08a506e9d5a25bc18dd6d16c1dfb11ef6a8914d2 because those client associations weren't actually needed. So a possible solution for this bug could indeed be to just get rid of the client of a job entirely.

I wonder if current implementations use

[2016-03-16 22:20] mkruisselbrink commented on #841
I started trying to write a spec for this ([ForeignFetchEvent](https://rawgit.com/mkruisselbrink/ServiceWorker/foreign-fetch-cors/spec/service_worker/index.html#foreign-fetch-event-section) and the updated [Handle Foreign Fetch](https://rawgit.com/mkruisselbrink/ServiceWorker/foreign-fetch-cors/spec/service_worker/index.html#on-foreign-fetch-request-algorithm) algorithm). Overall I don't think it'

[2016-03-17 01:39] jungkees commented on #847
Okay. Reading the thread, all agreed on removing it. Let's do it.

[2016-03-17 05:14] jungkees commented on #850
Basically, I wanted to avoid cloning the body not to require additional memory space. I still want to find a way. Do the following steps make sense?

response: a Response object (resolved from a promise) passed to respondWith(r)

1. Let newResponse be a copy of response’s associated response, except for its body.
1. If response’s body is non-null, run these substeps:
  1. Set newResponse's body to

[2016-03-17 06:00] #847 closed

[2016-03-17 06:16] annevk commented on #841
Distinguishing a Response object from an ordinary object is somewhat ugly and not possible unless you branch on internal slots, which are not available to normal JavaScript. I'm not sure we should do that for the first iteration. Also, it's not the common case, so it's weird to optimize for that.

I think it's okay to update the "cors filtered response" to account for a different kind of safelist.

[2016-03-17 06:20] annevk commented on #850
If you want to clone a response, use the algorithms provided in Fetch.

If we take a step back and look at how this maps to JavaScript, I think `respondWith()` is pretty much required to "structured clone" and message that clone to the environment making the fetch. What exactly "structured clone" means here is not really defined and what it means for streaming is even less understood. (And of cour

[2016-03-17 13:52] wanderview commented on #850
I'm confused.  (As usual.)  Why do we need to clone at all?  Can't respondWith() just be spec'd to read the stream from the response per normal?  It seems this should leave the stream disturbed/locked just as if javascript had read the stream.

[2016-03-17 14:03] annevk commented on #850
How do you get the bytes read across realms (and the `Response` object itself), from a JavaScript perspective?

[2016-03-17 14:08] yutakahirano commented on #850
My understanding is our plan is to use pipe. Something like this.

1. Let _response2_ be a response copied from _response_ except for its body.
1. If _response_'s body is non-null:
 1. Let {_rs_, _ws_} be an identical transform stream.
 1. Call pipeTo on _response_'s body's stream with _ws_.
 1. Set _response2_'s body to a new body with _rs_, _response_'s body's transmitted bytes and _response_'s

[2016-03-17 14:08] wanderview commented on #850
From an implementation perspective we effectively serialize the Response into a C++ representation.  That may or may not become another Response object depending on what initiated the request.

So I guess in spec language I would say you need to create a new internal response (lower case r) with a pipe for a body.  Then the original body stream is .pipeTo()'d the new response's body.  (Which I thi

[2016-03-17 14:51] annevk commented on #850
Yeah, that sounds reasonable. (And would indeed map to some kind of structured clone operation in an all-JavaScript-world.)

[2016-03-17 16:51] mkruisselbrink commented on #841
Ah, okay. That's unfortunate but makes sense. I'll change it that way.

Agreed that storing state on filters is rather icky. But it seems that the conclusion of #850 might be that we'll be cloning the internal response anyway (at least in spec language), so modifying the internal response to set the list of exposed headers shouldn't be a problem then.

[2016-03-17 17:02] wanderview commented on #850
Except that "cloning" implies that the original object is still usable.  This is consuming the original object.  Maybe I'm splitting hairs, but I think its an important distinction and differs from what structured cloning normally does AFAIK.

[2016-03-18 07:34] jungkees commented on #850
[pipeTo](https://streams.spec.whatwg.org/#rs-pipe-to) says the method is still in some flux. So, I just temporarily changed the steps to https://github.com/slightlyoff/ServiceWorker/issues/850#issuecomment-197705711 with leaving an issue note to use https://github.com/slightlyoff/ServiceWorker/issues/850#issuecomment-197893295 when it's ready.

Also, it'll be great if you can make the pipeTo an ex

[2016-03-18 09:40] annevk commented on #850
@wanderview "structured cloning" has a concept of transfering and detaching the original object, sure, and that happens for body, but e.g., `Headers` is still fully functional (and therefore cloned).

[2016-03-18 11:28] markuskobler commented on #846
So in my case, I want the service worker to have a better understanding of the HTML it's caching so it can make a call on which of its dependencies should also be cached. I would have assumed this to be a common use case?

I only mentioned the `DOMParser`, not because I'm attached to that API, but because this feels like a core responsibility of the browser.

[2016-03-18 16:54] wanderview commented on #846
If you want this done on the client I think you should just use read-through-caching.  You can then just use <link rel="prefetch"> for resources you want to aggressively load/cache.

Alternatively, you can have your server pre-compute the list of resources and cache them in your service worker install event.

I think trying to parse html on the fly would be the least efficient way to go here.

Wou

[2016-03-18 21:27] wanderview opened #851 "Install algorithm step 14 should clear waiting worker before updating state to redundant"
The Install algorithm has this currently

[code]

It seems the `statechange` event triggered by 14.2 Update State might see the redundant worker still set as `registration.waiting`.  Most other instances of Update State change the registration attribute first.

As a side note, should the `statechange` event see the new service worker in registration.waiting or a null .waiting?

[2016-03-18 21:29] wanderview commented on #851
Maybe the steps should be something like

1. Set old waiting worker to registration's waiting worker.
2. Set registration's waiting worker to registration's installing worker.
3. Clear registration's installing worker.
4. If old waiting worker is not null, then:
  1. Terminate old waiting worker.
  2. Run the Update State algorithm to redundant
  3. The user-agent may terminate...

[2016-03-18 21:31] wanderview commented on #851
Or does this not matter because the statechange event dispatch uses "queue a task"?

[2016-03-21 14:54] wanderview commented on #851
So, I think since we "queue a task" to fire the statechange event, then this all works fine for DOM objects on the main thread.  I think there is a problem for DOM objects on workers, though.

ServiceWorker DOM objects exposed on a worker thread are spec'd to access attributes like `.installing` like this:

This seems to have immediate and synchronous access to the `registration's waiting worker`.

[2016-03-21 14:56] wanderview commented on #848
See https://github.com/slightlyoff/ServiceWorker/issues/851#issuecomment-199324636 for why we might want to wait for statechange events in more places.  Basically the current spec will provide a consistent state view for DOM objects in windows, but workers will see inconsistent state.

[2016-03-21 18:23] wanderview opened #852 "Update step 4 fails to fulfill job promise"
Currently Update algorithm step 4 says:

This probably needs to reject the job promise with a TypeError as well.

[2016-03-22 01:01] #852 closed

[2016-03-22 01:02] jungkees commented on #852
@wanderview, thanks for spotting this.

[2016-03-22 08:58] jungkees commented on #851
Well, let me try to clarify what we want to make clear:

The order of Invoking Update State and changing the registration's attribute varies case by case depending on which `ServiceWorker` objects in the client contexts should be notified the change event.

Note that `ServiceWorker` object captured in a client context (either main thread or worker) has an associated service worker determined at th

[2016-03-22 14:15] wanderview commented on #851
I think we need to think about how it works for `statechange` event listeners in worker threads as well.  We can assume tasks run in order between the main thread and worker threads.  So we probably need some "wait" step.

[2016-03-22 14:16] wanderview commented on #851
If you would like I can figure out what I think makes sense and try to make a PR in the next week or two.

[2016-03-23 01:11] jungkees commented on #851
I'm not sure if I understood your concern here correctly. Update State is using either a main thread's event loop or a worker's event loop exclusively depending on where the target `ServiceWorker` object is stored: `The task must use serviceWorker’s relevant settings object’s responsible event loop and the DOM manipulation task source.` <- This step covers both cases. Am I still misunderstanding y

[2016-03-23 01:27] jungkees commented on #851
Well, let me clarify it further as I think it can be a bit misleading. So, here's an example:
If (1) a page has `ServiceWorker` object 1, (2) a worker has `ServiceWorker` object 2, and (3)  a serviceworker has `ServiceWorker` object 3 to the same service worker gotten from the getters, Update State will queue a task to (1)'s event loop, (2)'s event loop, and (3)'s loop separately.

[2016-03-23 01:48] wanderview commented on #851
If (1) a page has ServiceWorker object 1, (2) a worker has ServiceWorker object 2, and (3) a serviceworker has ServiceWorker object 3 to the same service worker gotten from the getters, Update State will queue a task to (1)'s event loop, (2)'s event loop, and (3)'s loop separately.

Sure, but consider what `registration.installing`, `.waiting`, and `.active` will say in those 3 different event han

[2016-03-23 20:40] wanderview opened #853 "Race in Schedule Job algorithm handling of equivalent job promises"
Currently the Schedule Job algorithm says:

The intention being to combine repeated jobs (like updates) into a single job where possible.

There is a race, however.  Some jobs resolve their promises before Finish Job is complete.  For example, the Install algorithm calls Resolve Job Promise on step 6, but may call Finish Job much later at step 19.  In between these steps the algorithm waits for th

[2016-03-23 21:25] wanderview commented on #853
I think maybe the easiest solution would be to set a flag when the Resolve Job Promise is run.  Then we can simply avoid the coalescing optimization if that flag is set.

[2016-03-24 07:51] jungkees commented on #853
Ah.. right. Thanks for spotting this!

I think there are two options:
(A) as suggested

(B) For the equivalent incoming job, if the lastJob' promise has settled already, settle job's promise accordingly.

(A) seems simpler but then https://github.com/slightlyoff/ServiceWorker/issues/800#issuecomment-173831987 won't be a solution for .update() failing in oninstall any more (as the job will be queue

[2016-03-24 08:58] cconcolato opened #854 "Access to fragment identifiers"
There are several use cases that could benefit from Service Workers having access to fragment identifiers. Several of my use cases are related to the processing of fragment identifiers for MP4 files. In MP4 files, some identifiers are generic media fragment identifiers like time based (#t=10), and some others are specific to MP4 like video.mp4#track_id=1 or video.mp4#item_name=foo. Native support

[2016-03-24 11:13] annevk commented on #854
This is https://github.com/whatwg/fetch/issues/214 I think.

[2016-03-24 16:53] wanderview commented on #853
My initial gut feeling would be to explicitly handle the "update() call during install event" case and do case (a) for aggregation.  I'm not sure I like keeping state around just in case someone calls update().

I think case (a) is also closer to what devs might expect.  If I see a previous update() promise resolve, and then immediately call update() again, I think I would expect a second update p

[2016-03-24 17:42] wanderview commented on #853
If we do option (a), we could put this check in the "job is equivalent" check.  If one job has its promise fufilled, but the other does not, then they are not equivalent.

[2016-03-25 00:08] jungkees commented on #853
Agreed on (a). Re the promise check, let's just add checking if the promise has settled in Schedule Job instead of adding this condition to the definition of "equivalent" jobs. (We don't need to add any additional flag even.)

[2016-03-25 02:22] #853 closed

[2016-03-25 02:26] jungkees commented on #853
https://github.com/slightlyoff/ServiceWorker/issues/800#issuecomment-173797733 should be addressed again.

[2016-03-25 02:31] jungkees commented on #800
By https://github.com/slightlyoff/ServiceWorker/commit/ccfa7e4c1c7dad30be752ef4e613835d1d5fedc7,

is not true any more. An equivalent job whose promise has already settled makes the job passed to Schedule Job be queued. So, more thought and discussion are needed for the issue in this tread.

[2016-03-25 15:10] wanderview commented on #800
I think the easiest way to handle this would be to do something like this in ServiceWorkerRegistration.update():

1. If the entry settings object is a ServiceWorkerGlobalScope (or appropriate text to determine its being called within a service worker).
  1. If the ServiceWorkerGlobalScope's associated service worker's state is 'installing', reject the promise with an InvalidStateError and abort th

[2016-03-25 18:33] wanderview opened #855 "Unregister algorithm step 6.1 is no longer necessary"
Step 6.1 of the Unregister algorithm is:

I don't think this can ever be true now, though.  The uninstalling flag is now cleared in the Register algorithm which executes within a job.  Since we have a single job queue the flag cannot be cleared until the Unregister job completes.

[2016-03-25 19:45] wanderview opened #856 "why does Register algorithm step 5.3.1 check for an active worker?"
Currently the Register algorithm does the following:

[code]

The check for active worker in 5.3.1 here surprises me.  Why do we want to perform the network request if the newest worker matches our script URL, but is still in the process of installing/waiting?

I see that this was added in this commit, but the comment there doesn't really help me understand.  I'm not sure the update step it refers

[2016-03-25 19:46] wanderview commented on #856
To clarify, we don't implement this active worker check.  Does chrome?

[2016-03-25 20:10] wanderview opened #857 "if service-worker-allowed header changes should active worker be potentially unregistered?"
Consider the case where we have an existing service worker installed and active at `/app/sw.js`.

An update is then triggered which downloads the `/app/sw.js` again, but now the server has started serving a `Service-Worker-Allowed: disableallserviceworkers` header.  This value is a bit arbitrary such that it won't match any valid scope.

The Update algorithm will now start rejecting with a Securit

[2016-03-27 20:21] ayumihamsaki opened #858 "Service Worker Error"
Hello,

Getting lots of errors all related to CORS. After 3 days of looking for the problem, I have found the problem to be this header:

< meta http -equiv =" Accept-CH" content=" DPR, Viewport-Width, Width" / >

Not sure why but it does not work with service worker and produces many errors. For example I was using sw-toolbox and linking to some javascript files on cdnjs.com and some fonts via go

[2016-03-27 22:45] wanderview commented on #858
Can you test with Firefox to see if you get the same error?

[2016-03-28 01:44] mattto commented on #856
Chrome's implementation seems to predate the spec here, and it does a check but it's slightly different: if there's no active worker, then continue to Update. Nothing about the newest worker.

I think I just wanted to avoid register() triggering an update when the registration was already settled. If there's no active worker, then it's considered unsettled. Our code has a comment:

[code]

The com

[2016-03-28 01:58] mattto commented on #857
There was some back and forth in #604 . Eventually we settled on not unregistering. That was partly to be consistent with other HTTP response changes like MIME type becoming invalid or response code becoming 4**, which don't unregister.

I think there's still interest in a easier kill switch than skipWaiting() + unregister(). That's tracked at #614

[2016-03-28 02:28] wanderview commented on #856
We early exit if there is a newest worker and the script URL matches.  We don't check the state of the newest worker or if there is an active worker.

I guess I'm not opposed to the check for active, but want to understand why.

With the current unified queue spec language I think the only non-active state that could match would be an installed .waiting worker.  Why would we want .register() to re

[2016-03-28 02:36] wanderview commented on #857
Is there a potentially bad situation here:

1) Service worker script installed that offline's all pages for the site as cache-first.
2) Site disables service workers with Service-Worker-Allowed because of some problem.
3) Active installed script can now not be removed because updates always fail due to the header.

I guess maybe the answer is "just don't do that", but it seems to make the header l

[2016-03-28 04:12] mattto commented on #856
I guess proceeding with update could allow the waiting worker or soon-to-be installed worker to become .active, in case someone does register().then(wait for an active version).

However, Chrome's current impl looks it'll only do that if the new worker is different than the waiting worker.

[2016-03-28 14:12] ayumihamsaki commented on #858
Hi Firefox is fine seems like its Google side that's the problem.

[2016-03-28 15:07] wanderview opened #859 "ServiceWorkerMessageEvent.origin spec text is confusing"
The ServiceWorkerMessageEvent.origin attribute is currently spec'd as:

Which is it, the empty string or the actual origin of the environment settings object?

[2016-03-28 15:23] wanderview commented on #859
Sorry, I see where the origin is set now.  Ignore me please.

[2016-03-28 15:23] #859 closed

[2016-03-29 18:06] wanderview opened #860 "spec should queue tasks to expose attribute changes on ServiceWorker and ServiceWorkerRegistration"
The spec has a couple DOM objects that are exposed to both main thread window and workers such that they represent the same underlying object.  ServiceWorker and ServiceWorkerRegistration are the main ones I'm aware of right now.

The attribute getters for both of these objects are written like this:

[code]

Essentially as a synchronous getter on the underlying shared data.  There is no explicit

[2016-03-29 18:39] wanderview opened #861 "be more explicit that jobs always run asynchronously"
Previously @mattto stated that Chrome always run jobs asynchronously.  The spec is a bit fuzzy on this saying things like:

This suggests that perhaps Register gets to keep running sync and then the current steps are completed potentially in parallel.

I think it would be better for Run Job to explicitly queue a task to invoke the algorithm for the job.

This matters for things like:

[code]